

<div class="card card-center-1 p-2">



<h4 class="mb-1 p-0">Transfer Funds</h4>
<hr>

<div class="row" ng-if="!isOTP">

	<div class="col-md-12 form-group">
		<label>Transfer options: </label>	
		<select class="custom-select form-control" style="display: inline-block;font-size: 14px!important" ng-model="pay.mode">
		  <option value="phone" selected>Beneficiary's phone number</option>
		  <option value="userId">Beneficiary's ID</option>
		</select> 
	</div>

	
	

	   <div class="col-md-6 form-group" ng-if="isUserId === true">
	    <label for="City">Beneficiary </label>
	   <input type="text" ng-model="pay.userId" class="form-control" id="City" placeholder="Beneficiary's ID" style="font-size: 14px!important">
	  </div>

	   <div class="col-md-6 form-group" ng-if="isPhone === true">
	    <label for="City">Beneficiary </label>
	   <input type="text" ng-model="pay.phone" class="form-control" id="City" placeholder="Beneficiary's Phone Number ( format: +234******** ) " style="font-size: 14px!important">
	  </div>

	  <div class="col-md-6 form-group">
	  	<label for="City">Amount | {{str}} </label>
	   	<input type="text" class="form-control" id="City" placeholder=" Enter Amount" ng-model="pay.amount" style="font-size: 14px!important">
	   	<span style="color:red;display: block;">{{errorMsg}}</span>
	  </div>
	  <div class="mt-1" ng-if="isTransfer">
	    <button class="btn btn-success" ng-click="confirm()" ng-if="!loading">Send</button>
	    <span ng-if="loading">Processing...</span>
	  </div>
</div>


<div style="padding:10px;margin: 0 auto" ng-if="isOTP" class="row">   
	<!--<div>
		<label>Enter OTP sent to {{pay.phone || pay.userId }}</label>
	</div>-->
	<div>
		<label>Verify is you!</label>
		<p class="text-muted">{{otpMsg}}</p>
		<p>If you did not receive SMS, try <a href="" ng-click="confirm(resend)" class="text-info">resend OTP</a> or get the OTP via <a href="" class="text-danger" ng-click="confirm(resend,'isCall')"><i class="fa fa-phone"></i> phone call</a></p>
		<p style="font-size: 14px" ng-if="showCallingMsg">{{showCallingMsg}}</p>
	</div>
	<div class="col-md-9 col-lg-9 col-sm-12 pt-0 form-group">
		<input type="text" class="form-control" placeholder="Enter the six digits OTP" ng-model="pay.otp">
		<p style="text-align: center;padding-top: 10px"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-if="loading"></i></p>
		<p class="pt-1"><small>Otp will auto submit when the six digits are completed</small></p>
	</div>
	 <!--<div class="col-md-3 col-lg-3 col-sm-12  pl-0 form-group">
		<div class="btn btn-info" style="cursor:pointer" ng-click="confirm(resend)">Resend OTP</div>
	</div>-->
	<div class="clearfix"></div>
</div>


</div>

    
 

        
   









