<div class="container">
	<div  class="card-center-1">
		<a href="#{{path}}"><i class="fa fa-arrow-left btn btn-simple"> &nbsp;Back</i></a>
	</div>
	<div class="card card-center-1 p-2">
		<h4 class="mt-0">Payment Verification</h4>
		
		<div style="margin-bottom: 10px">
			<div style="text-align: right; text-decoration:underline;color:blue;cursor:pointer">
				<button ng-click="sendAcceptanceVerification(resend)" class="btn btn-neutral btn-sm">Resend OTP via SMS</button>
			</div>
			<input type="text" placeholder="Enter the six digits OTP" class="form-control"  ng-model="pay.acceptanceOtp"> &nbsp;&nbsp;
			<div style="text-align: center;">
				<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-if="loading"></i>
			</div>
			<small>Otp will auto submit when the six digits are completed</small>			
		</div>
		<div>
			<p>
				cannot receive SMS? Try making a phone call to get the OTP code
				<a href="" ng-click="call(resend)" class="text-danger"><i class="fa fa-phone"></i> Call now!</a>
			</p> 
			<p style="text-align: center;font-size: 14px" ng-if="showCallingMsg">{{showCallingMsg}}</p>
		</div>
		
		<!--<p>If you have dificulty sending OTP please <a href="#">contact us</a></p>-->
	</div>
</div>
