<div class="container">
<div class="card p-2">
<div class="col-md-12 row">
 <div class="col-md-6 form-group">
    <label for="bank">From</label>
   <input type="date"  class="form-control" id="bank" placeholder=" 01/01/017" ng-model="period.from">
  </div>

   <div class="col-md-5 form-group">
    <label for="bnk_acc">To</label>
   <input type="date"  ng-model="period.to" class="form-control" id="bnk_acc" placeholder="01/01/017"> 
  </div>
 <div class="col-md-1 form-group" style="margin-top:2.2em;">
  <button class="btn btn-success"  ng-click="transactHistory()">Submit</button>
</div>
</div>
<!--<div class="col-md-12 pl-2 mb-1">
  <button class="btn btn-info" ng-click="submit()">print tokens</button>
</div>-->
<div class="clearfix"></div>
<div style="overflow-x: auto;">
  <table class="table table-bordered" ng-if="transacts.length > 0">
    <caption><b class="pl-1">Period: {{duration.from}}&nbsp; - &nbsp;{{duration.to}}</b> <i class="fa fa-print" style="float: right;font-size: 22px;color: orange;padding-top: 10px;cursor: pointer;"></i></caption>
    <thead class="thead-default">
      <tr>      
          <th>Date/time</th>
      <th>Action</th>
      <th>Amount</th>
      <th>Source</th>
      <th>Beneficiary</th>
      <th>Activity</th>
      </tr>
    </thead>

    <tbody ng-repeat="transact in transacts | orderBy: '-date'">
      <tr>
        <td><small>{{transact.date | date: "mediumDate"}} &nbsp;&nbsp;{{transact.date | date: "mediumTime"}}</small></td>
        <td>{{transact.activity}}</td>
        <td>{{toCurrency(transact.body.amount)}}</td>
        <td>{{transact.source}}</td>
        <td>{{transact.body.beneficiary}}</td>
        <td>{{transact.message}}</td>
      </tr>
     
    </tbody>
    
  </table>
  <div ng-if="transacts.length === 0">
      <p style="text-align: center;margin-top: 50px">No transaction history was found at this time.</p>
  </div>
  <div ng-if="loading" style="text-align: center;">
    <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-if="loading"></i>
  </div>
</div>
</div>
</div>





        
  