<!DOCTYPE html>
<html>
	<head>
		<title>Basic Structure</title>
		<meta name="description" content="">
	    <meta content='width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
	    <link rel="apple-touch-icon" href="apple-touch-icon.png">
	    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">
	    <link rel="stylesheet" href="/assets/css/vendor.css">
	    <link rel="stylesheet" href="/assets/css/app.css">
	    <link rel="stylesheet" href="/assets/css/now-ui-kit2.css">
	    <link rel="stylesheet" href="/assets/css/chat.css">
	    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	    <link rel="stylesheet" href="/assets/css/my-edit.css">
	    <link rel="stylesheet" href="/assets/css/ngPrint.css">
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	</head>
	<body>
		<p>Take a look at 'Ogbonna.html' file in view folder as an example. You will use the html basic structure in the file as tempate for other files you would write html for. Note the 'Ogbanna.html' will be updated sometimes based on the task given to take referrences to a newly added css. So always use it as a backbone for any task given. </p>
	</body>
</html>