<!DOCTYPE html>
<html>

<head>
    <title>Basic Structure</title>
    <meta name="description" content="">
    <meta content='width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/now-ui-kit2.css">
    <link rel="stylesheet" href="/assets/css/chat.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/my-edit.css">
    <link rel="stylesheet" href="/assets/css/ngPrint.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>

<body>
    <div>
        <!-- write your HTML code logic in here -->

    </div>
</body>

</html>