<!DOCTYPE html>
<html>

<head>
    <title>Subscription page</title>
    <meta name="description" content="">
    <meta content="width=device-width, initial-scale=0.9, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'" />
    <link rel="apple-touch-icon " href="apple-touch-icon.png ">
    <link rel="icon " type="image/png " href="/assets/images/icons/favicon.png ">
    <!-- Edu boostrap -->
    <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js "></script>
    <link rel="stylesheet " href="/assets/css/vendor.css ">
    <link rel="stylesheet " href="/assets/css/app.css ">
    <link rel="stylesheet " href="/assets/css/now-ui-kit2.css ">
    <link rel="stylesheet " href="/assets/css/chat.css ">
    <link rel="stylesheet " href="/assets/css/font-awesome.min.css ">
    <link rel="stylesheet " href="/assets/css/my-edit.css ">
    <link rel="stylesheet " href="/assets/css/ngPrint.css ">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans " rel="stylesheet ">

</head>

<body>
    <div class="container ">
        <div class="row mt-top ">
            <!-- first column -->
            <div class="col-md-6 ">
                <div class="card sub-card ">
                    <h3 class="text-center ">Doctors Account</h3>
                    <div class="account-log ">
                        <span><img src="/assets/images/img/008-doctor-1.png " alt="broken picture "></span>
                    </div>
                    <div class="panel-group " id="accordion ">
                        <div class="panel panel-default ">
                            <div class="panel-heading ">
                                <h4 class="panel-title text-center ">
                                    <a data-toggle="collapse " data-parent="#accordion " class="collapse-btn " href="#collapse1 ">
                                   DEFAULT PLAN-STANDARD
                                </a>
                                </h4>
                            </div>
                            <div id="collapse1 " class="panel-collapse collapse in ">
                                <div class="panel-body ">
                                    <h4 class="plan-info ">Pay As You Go - 10% Consultation Fees</h4>
                                    <h5><strong>Features:</strong></h5>
                                    <ul class="plan-list ">
                                        <li>Unlimited Number of Patients</li>
                                        <li>Instant Messaging</li>
                                        <li>Audio Call with Clerking Page</li>
                                        <li>Video call with Clerking Page</li>
                                        <li>E-Case Note</li>
                                        <li>Standard History and Examination Format</li>
                                        <li>E- Diagnosis (Requests and Result)</li>
                                        <li>Inbuilt Web and Mobile DICOM Viewer for all Radiology Studies including CTs and MRIs</li>
                                        <li>Prescription with Home Delivery</li>
                                        <li>Invite Preferred Pharmacy with One Year Incentive</li>
                                        <li>Refer Patient to Other Specialists</li>
                                        <li>Generate Bill for Patient</li>
                                        <li>E-Wallet Cash Out and Funds Transfer</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default ">
                            <div class="panel-heading ">
                                <h4 class="panel-title text-center premium-account ">
                                    <a data-toggle="collapse " data-parent="#accordion " class="collapse-btn " href="#collapse2 ">
                                    UPGRADE TO PREMIUM PLAN 
                              </a>
                                </h4>
                            </div>
                            <div id="collapse2 " class="panel-collapse collapse ">
                                <div class="panel-body ">
                                    <h4 class="plan-info ">ANNUAL SUBSCRIPTION PLAN
                                    </h4>
                                    <h5><strong>Features:</strong></h5>
                                    <ul class="plan-list ">
                                        <li>All features of Standard Plan
                                        </li>
                                        <li>One Month Free After Upgrade
                                        </li>
                                        <li>Money Back Guarantee Within Two Weeks of Upgrade if Service is Unsatisfactory
                                        </li>
                                        <p><strong>Select your Preferred plan below</strong></p>
                                        <li><a class="months-12 " href="# ">12 MONTHS – $70 (N25, 550) SUBSCRIBE
                                    </a></li>
                                        <li><a class="months-6 " href="# ">6 MONTHS - $55 (N20, 075) SUBSCRIBE
                                    </a></li>
                                        <li><a class="months-3 " href="# ">3 MONTHS – $40 (N14, 600) SUBSCRIBE
                                    </a></li>
                                        <li><a class="months-1 " href="# ">1 MONTH - $25 (N9, 125) SUBSCRIBE
                                    </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- terms and condition -->
                        <div class="panel panel-default ">
                            <div class="panel-heading ">
                                <h4 class="panel-title text-center ">
                                    <a data-toggle="collapse " data-parent="#accordion " class="collapse-btn " href="#collapse4-2 ">
                                    TERMS AND CONDITION
                                </a>
                                </h4>
                            </div>
                            <div id="collapse4-2 " class="panel-collapse collapse ">
                                <div class="panel-body ">
                                    <div class="terms ">
                                        <h3 class="plan-info ">GENERAL TERMS AND CONDITIONS </h3>
                                        <h5><strong>Platform Charges</strong></h5>
                                        <p class="terms-info ">
                                            There are two options for payment by physicians and hospitals who use Applinic services depending on preference. They are Annual Subscription charges and Discount Percentages. While annual subscriptions are paid once every twelve (12) months, discount
                                            percentages are ongoing charges paid for using the platform on a pay-as-you-go basis.
                                        </p>
                                        <h5><strong>Subscriptions</strong></h5>
                                        <p class="terms-info ">
                                            Healthcare Providers who desire to subscribe annually for the service pay the fixed amount for one year to use all the services. Applinic management reserve the right to review this amount either direction without prior notice to the customer. The reviews
                                            will not affect existing subscriptions but will take effect at the expiration of the existing subscription when the user intends to renew it.  For now the cost of subscription is $150 (N54,750) per annum for
                                            a corporate hospital account and $70 (N25,550) per annum for a personal physician's account. Tariff plans for less duration are available for both types of providers.
                                        </p>
                                        <h5><strong>Discount Percentages</strong></h5>
                                        <p class="terms-info ">This is charge per consultation fee paid by the patient.  The current rate is Ten Percent (10%) and is deductible each time the patient pays through the Medi-pay wallet. Cash payment for consultation by patients
                                            is prohibited and healthcare providers should discourage this.  If for any reason the patient is unable to pay via the wallet, the hospital or physician may collect cash, while Applinic relies on their integrity
                                            and honesty to remit the money to the platform using the internal Medipay transfer service.  Circumventing, diverting, evading, by-passing and sidestepping of patients’ payments through other channels aside
                                            the platform wallet without making remittances is a violation of the terms of usage of this application and may attract sanctions. The current percentage can be reviewed at anytime without prior notice but a
                                            one month moratorium will be granted to all providers before this takes effect.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- second column -->
            <div class="col-md-6 ">
                <div class="card sub-card ">
                    <h3 class="text-center ">Hospital Account</h3>
                    <div class="account-log ">
                        <span><img src="/assets/images/img/008-doctor-1.png " alt="broken picture "></span>
                    </div>
                    <div class="panel-group " id="accordion ">
                        <div class="panel panel-default ">
                            <div class="panel-heading ">
                                <h4 class="panel-title text-center ">
                                    <a data-toggle="collapse " data-parent="#accordion " class="collapse-btn " href="#collapse2-1 ">
                                   DEFAULT PLAN-STANDARD
                                </a>
                                </h4>
                            </div>
                            <div id="collapse2-1 " class="panel-collapse collapse in ">
                                <div class="panel-body ">
                                    <h4 class="plan-info ">10% Consultation Fees</h4>
                                    <h5><strong>Features:</strong></h5>
                                    <ul class="plan-list ">
                                        <li>Unlimited Number of Patients</li>
                                        <li>Instant Messaging</li>
                                        <li>Audio Call with Clerking Page</li>
                                        <li>Video call with Clerking Page</li>
                                        <li>E-Case Note</li>
                                        <li>Standard History and Examination Format</li>
                                        <li>E- Prescription with Home Delivery</li>
                                        <li>E- Diagnosis (Requests and Result)</li>
                                        <li>Invite Preferred Pharmacy with One Year Incentive
                                        </li>
                                        <li>Inbuilt Web and Mobile DICOM Viewer for all Radiology Studies including CTs and MRIs</li>
                                        <li>Invite Preferred Diagnostic Center with One Year Incentive </li>
                                        <li>Invite unlimited number of doctors to manage your patients</li>
                                        <li>View patient management of your doctors</li>
                                        <li>View and Cash Out Earnings of Your Doctors </li>
                                        <li>Pay your doctors by internal transfers
                                        </li>
                                        <li>Refer Patient to Other Specialists</li>
                                        <li>Generate Bill for Patient</li>
                                        <li>E-Wallet Cash Out and Funds Transfer</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default ">
                            <div class="panel-heading ">
                                <h4 class="panel-title text-center premium-account ">
                                    <a data-toggle="collapse " data-parent="#accordion " class="collapse-btn " href="#collapse2-2 ">
                                    UPGRADE TO PREMIUM PLAN 
                                </a>
                                </h4>
                            </div>
                            <div id="collapse2-2 " class="panel-collapse collapse ">
                                <div class="panel-body ">
                                    <h5><strong>Features:</strong></h5>
                                    <ul class="plan-list ">
                                        <li>All features of Standard Plan
                                        </li>
                                        <li>One Month Free After Upgrade
                                        </li>
                                        <li>Money Back Guarantee Within Two Weeks of Upgrade if Service is Unsatisfactory
                                        </li>
                                        <p><strong>Select your Preferred plan below</strong></p>
                                        <li><a class="months-12 " href="# ">12 MONTHS – $150 (N54, 750) SUBSCRIBE
                                    </a></li>
                                        <li><a class="months-6 " href="# ">6 MONTHS - $125 (N45, 625) SUBSCRIBE
                                    </a></li>
                                        <li><a class="months-3 " href="# ">3 MONTHS – $100 (N36,500) SUBSCRIBE
                                    </a></li>
                                        <li><a class="months-1 " href="# ">1 MONTH - $75 (N27, 375) SUBSCRIBE
                                    </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- terms and condition -->
                        <div class="panel panel-default ">
                            <div class="panel-heading ">
                                <h4 class="panel-title text-center ">
                                    <a data-toggle="collapse " data-parent="#accordion " class="collapse-btn " href="#collapse2-3 ">
                                    TERMS AND CONDITION
                                </a>
                                </h4>
                            </div>
                            <div id="collapse2-3 " class="panel-collapse collapse ">
                                <div class="panel-body ">
                                    <div class="terms ">
                                        <h3 class="plan-info ">GENERAL TERMS AND CONDITIONS </h3>
                                        <h5><strong>Platform Charges</strong></h5>
                                        <p class="terms-info ">
                                            There are two options for payment by physicians and hospitals who use Applinic services depending on preference. They are Annual Subscription charges and Discount Percentages. While annual subscriptions are paid once every twelve (12) months, discount
                                            percentages are ongoing charges paid for using the platform on a pay-as-you-go basis.
                                        </p>
                                        <h5><strong>Subscriptions</strong></h5>
                                        <p class="terms-info ">
                                            Healthcare Providers who desire to subscribe annually for the service pay the fixed amount for one year to use all the services. Applinic management reserve the right to review this amount either direction without prior notice to the customer. The reviews
                                            will not affect existing subscriptions but will take effect at the expiration of the existing subscription when the user intends to renew it.  For now the cost of subscription is $150 (N54,750) per annum for
                                            a corporate hospital account and $70 (N25,550) per annum for a personal physician's account. Tariff plans for less duration are available for both types of providers.
                                        </p>
                                        <h5><strong>Discount Percentages</strong></h5>
                                        <p class="terms-info ">This is charge per consultation fee paid by the patient.  The current rate is Ten Percent (10%) and is deductible each time the patient pays through the Medi-pay wallet. Cash payment for consultation by patients
                                            is prohibited and healthcare providers should discourage this.  If for any reason the patient is unable to pay via the wallet, the hospital or physician may collect cash, while Applinic relies on their integrity
                                            and honesty to remit the money to the platform using the internal Medipay transfer service.  Circumventing, diverting, evading, by-passing and sidestepping of patients’ payments through other channels aside
                                            the platform wallet without making remittances is a violation of the terms of usage of this application and may attract sanctions. The current percentage can be reviewed at anytime without prior notice but a
                                            one month moratorium will be granted to all providers before this takes effect.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>