/*** drug search **/
.side-services a {
	font-weight: 100;
    color: black;
    font-size: 22px;
    padding: 10px;
    text-decoration: underline;
}




/* my ng animate style */

.logo {
  max-width: 35%;
  max-height:auto;
}
.view-animate-container {
  position:relative;  
  background:white;  
  /*max-height:1000px;*/
  background: transparent !important;
  /*overflow-y: auto;
 overflow-x: hidden;*/

 /* wiil be checked later
 /width: auto;
 margin-left: 100px
 */

}

table {  
    font-family: arial, sans-serif;  
    border-collapse: collapse;  
    width: 100%;  
}  

td, th {  
    border: 1px solid #dddddd;  
    text-align: left;  
    padding: 8px;  
}  

tr:nth-child(even) {  
    background-color: #dddddd;  
}  

h4,h5 {
   margin-top:0!important;
}

textarea.form-control {
  border: 1px solid powderblue;
  font-size: 14px!important;
  height: 200px
}



.tip {
    text-decoration: none;
    font-size: 18px;
}
.tip:hover {
    cursor: pointer;
    position: relative;
    overflow-wrap: break-word;
}
.tip span {
    display: none
}
.tip:hover span {
    font-family: inherit;
    /*border: #c0c0c0 1px dotted;*/
    padding: 13px;
    display: block;
    z-index: 100;
    background-color: #FFFFCC;
    color: #000;
    line-height: 20px;
    font-size: 16px;
    border-radius: 5px;
    left: 0px;
    margin: 20px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none;
    text-transform: initial!important;
}

.form-control {
  font-size: 0.95em!important;
  border: 1px solid powderblue;
}



.card-center-1 {
  width: 70%;
  margin: 0 100px;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.text-normal {
  color: #000!important;
}

.landing-ul {
  max-height: 400px;
  overflow-y: auto; 
  list-style: none;
}






.view-animate {
  padding:10px 0;
  /*height: 600px;to view removed later*/
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s;
  display:block;
  width:80%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.patient-tests p{
  font-size: 12px;
  text-indent: 15px;
  line-height: 22px;
  word-break: break-all;
}

.patient-tests strong {
  font-size: 12px;
  padding-left: 5px;
  text-transform: uppercase;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

.main {
  position: relative;
  background: #FFFFFF; }

/** my css **/
.get-user {
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  border: none;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: #2CA8FF;
  color: #FFFFFF;
  text-decoration: none;
}

.doc-edit {
  list-style: none;
  padding: 5px;
  border-right: 1px solid rgba(0,0,0,0.3);
  border-radius: 15px
}

.doc-edit li{
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: underline;
  padding: 10px;
  
}

.selected-edit {
  color: orange;
}

.bg-green-back {
  background-color: green!important; 
}



.number-change {
  color:#fff;
  text-align:center;
  background-color:#0275d8;
  padding:20px;
  font-size:22px;
  margin-bottom:30px
}

.rec div {
  padding-top: 20px!important;
}

.treatment-record {
  max-height: 200px;
  overflow-y: auto
}

.title{
  font-weight: 300;
}

.font-1_1{
  font-size:1.1em !important; 
  font-weight:300 !important;
}

.font-1_4{
  font-size:1.4em !important; 
  font-weight:300 !important;
}

.font-1_7{
  font-size:1.7em !important; 
  font-weight:300 !important;
}

/*progress bar style **/

.percent {
    position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}

.progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}
.dropbox {
    width: 15em;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
}
.dropbox span {
    margin-top: 0.9em;
    display: block;
}
.dropbox.not-available {
    background-color: #F88;
}
.dropbox.over {
    background-color: #bfb;
}

.mt-1  {
    text-indent: 15px
}

.card {
  overflow:inherit;
  display: inline-block;
}

.danger-mine {
  padding: 15px;
  background-color: red;
  color:#fff;
  text-align: center
}

.footer {
  z-index: -1
}

.invite a {
  margin: 10px 5px;
  color: darkRed!important
}


/* typeahead dropdown */
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover { 
  /*box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);*/
  color:grey;
  padding: 10px 0;
}

.dropdown-menu > li {
  padding: 5px;
}

.dropdown-menu>li>a { 
  font-size: 14px;
  text-decoration: none;
  color: green;
  padding-left: : 10px
}

.dropdown-menu {
  max-height: 800px;
  overflow-y: auto; 
/*  width: 400px;*/
  z-index: 999;
}

.notification-item, .landing {
  border-bottom: 1px solid #eee;
}

.notification-item:hover,
.landing:hover {
  background-color: #eee;
  transition: .3s;
}


.body-col {
  padding:0px 4px;
}
.p-1 b {
  color: #000;
}

.card h3 {
  padding: 20px
}

.hide {
  display: none;
}

.mmine {
  padding: 20px
}

.card-header {
  box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
  text-align:center;
}

.card-header a {
  text-decoration: none;
  font-size: 18px;
  color:orange;
  padding-left: 20px
}

.strike {
  text-decoration: line-through;
}

.shadow {
   box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
}

.space {
  margin-top: 20px
}

.title{font-weight: 300;}

  .grayish{ border-radius:5px;margin: 5px 5px 5px 0;background: #fff;padding: 5px;
      font-weight: 500;color: #555; box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);}

  .grayish i{ border-right: 2px solid #eee;padding-right: 5px;padding-left: 5px;}

  .userpe img{ border-radius: 5px;box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2); }

  .star-rating { line-height:32px;font-size:1.45em;}

  .star-rating .fa-star{color: yellow;-webkit-transition: height 0.2s;-moz-transition: height 0.2s; transition: height 0.2s;}
  .target {
   /* border:2px solid rgba(0,0,0,0.1);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);*/
  }

  .skill-sects {
    list-style: none;
  }

  .skill-sects li {
    font-style: italic;
    padding:0 10px;
    margin: 20px 10px;
    cursor: pointer;              
  }

  .skill-sects li:hover {
    width:80%;
  }

  .star {
    color:yellow!important;
  }

  .rating {
    color: rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
    
  }

  ul.rating {
    display: inline-block;
    list-style: none;
    display: inline-block;
  }

  .rating li {
    float: left;
  }

  .close {
    color:red;
    font-size: 32px;
    z-index: 3!important;
  }


  .prescription-options {
    display: inline-block;
    list-style: none;
    padding-top: 30px
  }

  .prescription-options li {
    float: left;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
  }

  .highlight {
    border-bottom: 3px solid orange;
    border:none;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
  }

  .courier-cost{
    padding: 20px;
  }

  .btn-courier {
    color:#000!important;
    border:1px solid grey!important;
    font-size: .8571em;
    line-height: 1.35em;
    border: none;
    border-radius: .1875rem;
    padding: 10px;
    background-color: inherit;
  }

  .btn-primary {
    color:#fff!important;
   
  }

  .orange-bg {
    background-color: orange;
    color: #fff!important;
  }

  .orange-bg:active {
    background-color: orange;
    color: #fff!important;
  }

  .text-success {
    color: grey!important
  }

  .custom-alert-box {
    width: 0;
    font-size: 1em;
    height: 100px;
    overflow-y: auto;
    color: #fff;
    background-color: orange;
    position: absolute;
    right: 0;
    top: 150px;
    padding: 15px;  
    visibility: hidden;
   
  }

  .toogle-custom-alert {  
    z-index: 9999999;
    width: 30%;
    -webkit-transition: width 500ms ease-out 1s;
    -moz-transition: width 500ms ease-out 1s;
    -o-transition: width 500ms ease-out 1s;
    transition: width 500ms ease-out 1s;
    visibility: visible;
  }
.p-4{
  padding:30px;
}
  .doctor  .card{
    border-radius: 5px;
    min-height: 50px;
  }
 .doctor  .card i{
  color:#45b649 !important;
 }

 .doctor  .card:hover i{
  color:#fff !important;
 }
 .hoverr:hover{
    background: #76b852 !important;
    color:#fff;
    cursor: pointer;
    transition: 1s;
  } 

  .doctor  .card .card-block{
    min-height:230px !important;
  }

  .doctor h6 {
    font-weight: 400;
    font-size: 13px!important
  }

  .doctor  .card .btn{
    border-radius: 0px !important;
    font-weight: bold;
    text-transform: uppercase;
  }

  .doctor .card .card-title{
text-transform: uppercase !important;
font-weight: 300 !important;
  }

  .info-palete {
    min-height: 320px;
    position: relative;
  }

  .info-palete .text-center {
    font-weight: bold;
    text-align:center !important;
  }

  .info-palete .learn {
    position: absolute;
    left: 20px;
    bottom: 15px;
  }

  .info-palete img{
    min-width: 82px;
    min-height: 82px;
    
    margin: 0 30px!important;
  }

  .modal-body {
    text-transform: none;
  }


  #textarea {
    height:auto;
    color:#999;
    font-weight:400;
    font-size:30px;
    font-family:'Ubuntu', Helvetica, Arial, sans-serif;
    width:100%;
    background:#fff;
    border-radius:3px;
    line-height:2em;
    border:none;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);                    
    -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
  }

  #textarea2 {
    height:auto;
    background:#fff;
    border-radius:3px;
    line-height:2em;
    border:none;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);                    
    -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
  }
  
@media screen and (max-width: 991px) {
  .p-sm-0{
    padding: 0 !important;
  }

  .header-Pharma {
    margin-left: 25vh !important;
  }

   .header-Pharma .menuOne{
      margin-left: -29vh !important;
    }

    .header-Pharma .menuTwo{
          margin-left: -35.8vh !important;
    }

     .header-Pharma .menuThree{
          margin-left: -41.8vh !important;
    }

     .header-Pharma .menuFour{
      margin-left: -49.8vh !important;
    }

     .header-Pharma .menuFive{
      margin-left: -34.8vh !important;
    }

      .header-Pharma .menuSix{
      margin-left: -36.8vh !important;
    }
}






@media screen and (min-height: 960px) {
  .view-animate-container {
    max-height: 800px;
    background: transparent !important;
  }
}

.mng {
  position: absolute;bottom: 30px;right: 35px;
}

.chat-send-btn {
  font-size: 25px;position: absolute;right: 20px;top:0
}

.side-article {
  display: inline-block;padding-left: 10px;float: left
}

.mobileAlert {
box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08) !important;
            border: 2px dotted #6cb2eb;
            color: #3490dc;
            border-radius: 10px;
            padding:15px;
            background: #f2f2f2;
            margin-bottom: 30px;
}

.mobileAlert:hover {
            background: #f8f8f8;
}

@media screen and (max-width: 960px) {
  .view-animate-container {
   
    background: transparent !important;
    /*margin-left: 0px!important;*/
  }

  .col-sm-12 li {
    padding-top:20px
  }

  table {
    position: static;
    display: block;
    max-width: 100%;
    overflow-x: auto;
  }

  .p-1 div {
    padding: 0!important;
  }

  .p-2 div {
    padding: 0!important;
  }

  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08); 
}
  .card-center-1 {
    width: 100%!important;
    margin: inherit;
  }

  .container {
    padding: 0!important;
    margin: 0!important;
  }

  .nmg {
    right:25px
  }
  .mobile-center {
    text-align: center;
  }

  .chat-send-btn {
    top: -5px;
  }

  .csb {
    top: 0!important;
  }

  .csbg {
    top: -2px!important;
    right: 20px;
    padding: 10px;
  }
  
}

.arrange-p label{
  margin-left: -5px
}

.arrange-p span{
  display: inline-block;padding-right: 20px
}


.image-fit {
  height: 100%; width: 100%; object-fit: contain
}

@media screen and (max-width: 450px) {
  .deny-mobile-btn {
    text-align: right;
  }

  #accessBody {
    width: 100%!important;
  }

  input.form-control {
    width: 98%!important;
  }


  .side-article {
    padding-left: 0!important;
  }

  td,th {
    padding: 2px!important;
  }

  .tbm-0 {
    width: 5%;
  }

  .tbm-1 {
    width: 35%;
  }

  .tbm-2 {
    width: 20%;
  }

  .tbm-3 {
    width: 20%;
  }

  .tbm-4 {
    width: 20%;
  }

  .arrange-p {
    padding-left: 0!important;
    margin-left: 10px
  }
  
  .arrange-p label{
    margin-left: -5!important;
  }

  .arrange-p span {
    padding-right: 2px!important;
  }

  .arrange-p div{
    padding: 0!important
  }

  .no-mobile-item-display {
    display: none;
  }

  .mobile-item-display {
    display: block;
  }

  .counter {
    font-size: 10px!important;
    color:orange!important;
  }

}


