@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        display:none;
    }

    div {
        width: 100%;
    }


    #printSection{
      margin-top: 70px;
      width: 960px
    }

    #printSection, #printSection * {
        display: block;
        font-size: 16px
    }  

    #noFooter {
        display: none;
    }

    #patientInfo {
        display: inline-block;
        border-top:  1px solid #ccc;
        padding:10px;
        width: 960px
    }

    #printSection table > tbody{
       display: block;
       border:none;
    }

    #printSection th {       
        width: 120px;       
    }

    #printSection p {
        display: block;
    }

    #printSection strong {
        padding: 10px 10px;
    }

    #printSection td {
        padding-left: 10px;
        border-top: none;
        width: 120px;
        word-wrap: break-word;
    }

    #printSection h6 {
        display: block;
        margin-top: 45px
    }

    #printSection section {
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.4);
    }

     #printSection i,#printSection a,#printSection button {
       display: none;
    }

    #printSection ol {
        list-style: lower-alpha;
        display: block;
    }
    #printSection li {
        font-weight: bold;
        padding: 10px;
    }

    #printSection {
        position:absolute;
        left:0;
        top:0;
    }

    #printSection a {
        display: none;
    }
}