
<section>
	<header style="position: relative;" class="card">
		<h4 class="pl-1 pt-1"> 
		<i class="fa fa-motorcycle"></i> Courier Services <span style="font-size: 16px;display: inline-block;">( {{courierRequests.length}} requests )</span> <br><span style="font-size: 14px;"></span>
		<!--<a href="{{fieldagentUrl}}" target="_blank" style="font-size: 14px"> {{fieldagentUrl}}</a>-->
		</h4>
		
		<!--<input type="text" placeholder="Filter" class="form-control">-->

		<div class="row p-2">
			<div class="col-md-7">
				<button class="btn-courier" ng-click="current()" style="margin-bottom: 4px" ng-class="{'orange-bg': selected1}">New Requests</button>
				<button class="btn-courier" ng-click="ready()" style="" ng-class="{'orange-bg': selected}">On Delivery</button>
				<button class="btn-courier" ng-click="completed()" ng-class="{'orange-bg': selected2}"> Completed</button>
			
				</div>
			<div class="col-md-5">
				<a href="" ng-click="addFieldAgent()" class="btn btn-neutral btn-sm"><i class="fa fa-plus"></i> Field agent</a>
				<a href="" ng-click="manageFieldAgent()" class="btn btn-neutral btn-sm"><i class="fa fa-wrench"></i> Manage agents</a>
				<a href="" ng-click="refresh()" class="btn btn-neutral btn-sm"><i class="fa fa-refresh"></i> Refresh</a>
			</div>	
		</div>	
		<div class="col-md-5" ng-if="courierRequests.length > 4">
			<input type="text" placeholder="Filter list of requests" class="form-control" ng-model="search">
		</div>
		
	</header>

	<div class="clearfix p-0"></div>
	<div ng-repeat="request in courierRequests | filter: search | orderBy: '-date'" class="card" style="padding: 10px;line-height: 32px" id="{{request._id}}">
		<div class="col-sm-12 col-md-2 col-lg-2" style="line-height: 25px" ng-if="request.attended && request.is_paid">
			<h6>Payment Details</h6>
			<p class="text-primary"><i class="fa fa-check-circle"></i> Payment was made successfully!</p>
			<div>
				Amount: <b>{{toCurrency(request.total_cost)}}</b>
			</div>
			<div>
				Delivery Charge: <b>{{toCurrency(request.delivery_charge)}}</b>
			</div>
			<div>
				Total: <b>{{getTotal(request.delivery_charge,request.total_cost)}}</b>
			</div>
			<hr>
			<p ng-if="!request.completed"><small>You will be credited if the receipt of the package is confirmed.</small></p>
		</div>

		<div class="col-sm-12 col-md-7 col-lg-7">
		<h6>Prescription detail</h6>
			<table class="table table-striped table-responsive no-mobile-item-display">
				<tr>
					<thead>
						<th>S/N</th>
						<th>cost</th>
						<th>drug</th>
						<th>dosage</th>
						<th>frequency</th>
						<th>duration</th>		    						
					</thead>        					
				</tr>
				<tr>
					<tbody ng-repeat="prescription in request.prescription_body">		    						
						<td>{{prescription.sn}}</td>
						<td>{{(!prescription.cost) ? "N/A" : toCurrency(prescription.cost)}}</td>
						<td>{{prescription.drug_name}}</td>
						<td>{{prescription.dosage}}</td>
						<td>{{prescription.frequency}}</td>
						<td>{{prescription.duration}}</td>		    							    						
					</tbody>
				</tr>
			</table>
			<div class="mobile-item-display">				    		
	    		<table class="table" ng-repeat="prescription in request.prescription_body">
	    		    <thead><td><label>sn:</label> {{prescription.sn}}</td></thead>
	    		    <thead><td><label>Cost:</label> {{(!prescription.cost) ? "N/A" : toCurrency(prescription.cost)}}</td></thead>
	    			<thead><td><label>Drug:</label> {{prescription.drug_name}}</td></thead>
	    			<thead><td><label>Dosage:</label> {{prescription.dosage}}</td></thead>
	    			<thead><td><label>Frequency:</label> {{prescription.frequency}}</td></thead>
	    			<thead><td><label>Duration:</label> {{prescription.duration}}</td></thead>
	    			<hr>
	    		</table>
	    	</div>
			<!--<div ng-if="request.total_cost"> <strong>Total:</strong> {{toCurrency(request.total_cost)}}</div>-->
		</div>
		<!--<div class="col-sm-12 col-md-3 col-lg-3" style="line-height: 25px" ng-if="request.attended && request.completed">
			<h6 style="text-decoration: underline;">Delivery report</h6>
			<div><strong>Status :</strong> <span ng-if="request.attended !== true">Not yet billed</span> <span style="color:red" ng-if="request.attended == true"> Billing sent! <small>( {{request.verification_date | date: 'mediumDate'}} | {{request.verification_date | date: 'mediumTime'}} ) </small></span></div>
			<div><strong>Report :</strong> <span ng-if="!request.receipt_date">pending</span> <span ng-if="request.receipt_date">Delivered! Package in receipt @ {{request.address}}</span><br><span>
			{{request.receipt_date | date: "fullDate"}} {{request.receipt_date | date: 'shortTime'}}
			</span></div>
			<div><strong>Payment confirmation :</strong> <span ng-if="!request.receipt_date">No</span> <span ng-if="request.receipt_date">Yes! Paid <b>{{toNaira(request.total_cost)}}</b> on {{request.receipt_date | date : 'fullDate'}} | {{request.receipt_date | date : 'mediumTime'}}</span></div>
			
		</div>-->
		


		<div class="col-sm-12 col-md-3 col-lg-3" ng-if="courierRequests.length > 0">
		<h6>Sender details</h6>
			<div>
				<i class="fa fa-user"> {{request.title}} {{request.firstname}} {{request.lastname}}</i>
			</div>
			<div>
				<i class="fa fa-globe"> {{request.address}} ( {{request.city}} )</i>
			</div>
			<div>
				<i class="fa fa-clock-o"> {{request.date | date : "mediumDate"}} | {{request.date | date : "mediumTime"}}</i>
			</div>	
			<div ng-if="request.is_paid && request.attended">
				<i class="fa fa-phone"> {{request.phone1}}</i><br>
				<i class="fa fa-phone"> {{request.phone2}}</i><br>
			</div>
			<div ng-if="request.is_paid && request.attended && !request.on_delivery" class="pt-2">
				<h6 class="text-danger">Start Delivery</h6>
				<form>
					<div>
						<select class="form-control" ng-model="fieldUser.agent_id">
							<option value="" selected="selected" disabled="disabled">_select field agent for delivery</option>
							<option ng-repeat="i in agents" ng-value="i.id">{{i.names}}</option>
						</select>
					</div>
					<div style="text-align: center;">
						<button class="btn-sm btn-info btn" ng-click="startDelivery(request)"> <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="request.loading"></i> {{(request.loading) ? "" : "Go" }}</button>
					</div>
				</form>
			</div>

			<div ng-if="request.is_paid && request.attended && request.on_delivery" class="pt-2">
				<div class="text-simple"> 
					<h6 class="text-primary"><i class="fa fa-check-circle"></i> On-Delivery Initiated!</h6>
					<div>{{request.delivery_msg}}</div>
					<!--<div>Date: {{request.delivery_start_date | date: "fullDate"}}</div>
					<div>Time: {{request.delivery_start_date | date: "mediumTime"}}</div>-->
				</div>
			</div>		
		

			<div style="margin-top:10px" >
				<hr>		
				<button ng-click="courierBilling(request)" ng-class="{'btn btn-success' : request.attended == true}" class="btn btn-simple text-danger" ng-if="!request.is_paid">{{(request.verified) ? "Re-send billing" : "Bill patient"}}</button> &nbsp;
				<button ng-click="decline(request)"  class="btn btn-simple text-danger" ng-if="!request.verified"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff;" ng-if="request.loading"></i>{{(request.loading) ? "" : "Decline"}}</button>
			</div>		
		</div>
		<div class="clearfix"></div>

	</div>
	<div class="card p-2" ng-if="completedRequest.length > 0">
		<table class="table">
			<thead>
				<th>Date/Time</th>
				<th>Receiver</th>
				<th>Contact</th>
				<th>Drugs</th>
				<th>status</th>
				<th>Cost</th>
				<th>DC</th>
			</thead>
			<tbody ng-repeat="j in completedRequest | filter: search">
				<td>{{j.receipt_date | date: "fullDate"}} {{j.receipt_date | date: "shortTime"}}</td>
				<td>{{j.firstname}} {{j.lastname}}</td>
				<td>{{j.address}} <br>{{j.phone1}} <br>{{j.phone2}}</td>
				<td>
					<ol>
						<li ng-repeat="i in j.prescription_body">
							{{i.drug_name}} ( {{i.dosage}} )
						</li>
					</ol>
				</td>				
				<td ng-class="{'text-danger' : !j.completed}">{{(j.completed) ? "Delivered!" : 'Not Delivered'}}</td>
				<td>{{toCurrency(j.total_cost)}}</td>
				<td>{{j.delivery_charge}}</td>
			</tbody>
		</table>
	</div>
	<div ng-if="!courierRequests" style="text-align: center;padding: 20px">
		<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange;font-size: 18px" ng-if="loading"></i>
	</div>
	
</section>