<!--<div>
	<a href="#/pharmacy/drug-service/update">Back</a>
	<h5>Drug(s) not available in your center</h5>
	<p>Please tick if a drug is currently available in your center</p>
</div>
<div class="all-test-check">
	<ol>
		<li ng-repeat="drug in notService"><input type="checkbox" ng-model="drug.val"> {{drug.name}}</li>
	</ol>
	<button ng-click="saveDrugs()" ng-if="isToSave">Save</button>
</div>-->

<div class="container">
	<div class="card card-center-1 p-2">
		<a class="btn btn-simple" href="#/pharmacy/drug-service/update"><i class="fa fa-arrow-left"></i> Back</a>
	</div>
    <div class="card card-center-1 p-2">
<div>	
	<h5 class="font-1_2" >Unavailable Drugs ( {{ notService.length }} )</h5><hr>
	<p class="font-1_1" ng-if="notService.length > 0">Please tick if a drug is currently available in your center</p>
</div>
<div class="all-test-check">
    <div ng-repeat="drug in notService">
		<label class="custom-control custom-checkbox">
		  <input type="checkbox" class="custom-control-input" ng-model="drug.val">
		  <span class="custom-control-indicator"></span>
		  <span class="custom-control-description"> {{drug.name}}</span>
		</label>
	</div>

	<button class="btn btn-success" ng-click="saveDrugs()" ng-if="!loading">Save</button><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ng-if="loading">saving...</i>
</div>
</div>
</div>