<div class="container">
    <div class="card card-center-1 p-2">
<div class="col-sm-12 col-md-12 col-lg-12" >
	<div>
		<h3 class="p-0" style="padding: 0">Patient Prescription</h3>
	</div>
	<div class="row">
		
		<div class="col-md-12 col-lg-12 col-sm-12  pt-1">
			<div style="max-height: 120px;max-width: 120px;display: inline-block;float: left">		
				<img class="img-responsive card" src="{{refData.pharmacy.patient_profile_pic_url}}">
			</div>	
			<div style="display: inline-block;float: left;padding-left: 15px">
				<div><strong>{{refData.pharmacy.patient_firstname}} {{refData.pharmacy.patient_lastname}}</strong></div>
				<div><strong>{{refData.pharmacy.patient_address}}, {{refData.pharmacy.patient_city}}, {{refData.pharmacy.patient_country}}</strong></div>
				<div><strong>{{refData.pharmacy.patient_age}}</strong></div>
				<div><strong>{{refData.pharmacy.patient_gender}}</strong></div>
			</div>
			<div class="clearfix"></div>		
			<h6 class="pb-1" style="margin-top: 20px">Reference Details:</h6>
			<ul class="nav font-1_1" style="line-height: 30px">
				<li style="font-weight: bold;">Referred by:  <span style="font-weight: 300">{{refData.referral_title}} {{refData.referral_firstname}} {{refData.referral_lastname}} </span></li>
				<li style="font-weight: bold;">Received:  <span am-time-ago="refData.date" style="font-weight: 300;"></span></li>
				<!--<li><strong>Time </strong>| {{refData.date | date: "mediumTime"}}</li>-->
				<li style="font-weight: bold;">Reference number: <span class="text-danger" style="font-weight: 300;">{{refData.ref_id}}</span></li>
			</ul>
			<h6 class="pb-1 mt-2">Prescription Details: <i class="fa fa-question-circle tip"><span>Initially, all drugs are ticked as available in your center. You can untick any drug that is not available and forward to another center. You can add dosage, frequency and duration if such values are missing. </span></i></h6>
			<!--<p><strong>Please untick drug(s) you don't have.</strong> If dosage, frquency and duration fields are missing you can add them based on the drugs you already administered.
				<strong>Unticked drug </strong> is regarded as NOT available in your center<span> which you can <strong>refer to another </strong> center.</span></p-->
				<!--<div style="text-align: right;">
				<a href="" ng-click="refresh()"style="color:orange"><i class="fa fa-refresh"></i> Refresh</a>	
				</div-->		
			<table class="table table-striped no-mobile-item-display">				
				<tr>
					<thead>
						<th><strong>S/N</strong></th>
						<th><strong>Drug name</strong></th>
						<th><strong>Dosage</strong></th>
						<th><strong>Frequency</strong></th>
						<th><strong>Duration</strong></th>
						<th>&nbsp;</th>
					</thead>
				</tr>
				<tr>
					<tbody ng-repeat="prescription in refData.pharmacy.prescription_body">											
						<td ng-if="!prescription.unavail">{{prescription.sn}}</td>
						<td  ng-if="!prescription.unavail">{{prescription.drug_name}}</td><!-- 	ng-class="{strike: prescription.picked}" -->				
						<td  ng-if="!prescription.unavail">{{prescription.dosage}}<input type="text" name="dosage" ng-model="prescription.dosage" class="form-control" ng-if="!refData.pharmacy.doctor_id && !prescription.dosage"></td>
						<td  ng-if="!prescription.unavail">{{prescription.frequency}}<input type="text" name="dosage" ng-model="prescription.frequency" class="form-control" ng-if="!refData.pharmacy.doctor_id && !prescription.frequency"></td>
						<td  ng-if="!prescription.unavail">{{prescription.duration}}<input type="text" name="dosage" ng-model="prescription.duration" class="form-control" ng-if="!refData.pharmacy.doctor_id && !prescription.duration"></td>
						<td ng-if="!prescription.unavail">
						<div>
					<label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" ng-model= "prescription.picked" >
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description" style="opacity:0;">.</span>
					</label>
					</div>
					</td>
					</tbody>
				</tr>
				
			</table>
			<div class="mobile-item-display">	

	    		<table class="table" ng-repeat="prescription in refData.pharmacy.prescription_body">
	    		    <thead ng-if="!prescription.unavail"><td><label>sn:</label> {{prescription.sn}}</td></thead>
	    		    <thead><td><label>Drug:</label> {{prescription.drug_name}}</td></thead>
	    			
	    			<thead ng-if="!prescription.unavail"><td><label>Dosage:</label> {{prescription.dosage}}<input type="text" name="dosage" ng-model="prescription.dosage" class="form-control" ng-if="!refData.pharmacy.doctor_id"></td></thead>
	    			<thead ng-if="!prescription.unavail"><td><label>Frequency:</label> {{prescription.frequency}}<input type="text" name="dosage" ng-model="prescription.frequency" class="form-control" ng-if="!refData.pharmacy.doctor_id"></td></thead>
	    			<thead ng-if="!prescription.unavail"><td><label>Duration:</label> {{prescription.duration}}<input type="text" name="dosage" ng-model="prescription.duration" class="form-control" ng-if="!refData.pharmacy.doctor_id"></td></thead>
	    			<thead ng-if="!prescription.unavail"><td><label>&nbsp;</label> <label class="custom-control custom-checkbox">
					  <input type="checkbox" class="custom-control-input" ng-model= "prescription.picked" >
					  <span class="custom-control-indicator"></span>
					  <span class="custom-control-description" style="opacity:0;">.</span>
					</label></td></thead>
	    			<hr>
	    		</table>
	    	</div>
			
			<div style="list-style:none;font-size:14px" ng-if="!refData.pharmacy.is_paid">
                <div>  
                	<h6 class="pb-1 mt-2">Compute Cost:</h6>
                     <table class="table">
                     	<tr>
                     		<thead ng-if="isFilled === true">
                     			<th>Drug</th>
                     			<th>Cost</th>
                     		</thead>
                     	</tr>
                     	<tr>
                     		<tbody ng-repeat = "j in drugsForSurchage">
                     			<td style="width: 55%;padding:10px;color: green;font-weight: bold;">{{j.name}} {{(j.dosage) ? j.dosage : ""}}</td>
                     			<td><input type="number" ng-model="j.amount" style="padding:10px" class="form-control"></td>
                     		</tbody>
                     	</tr>
                     </table>
                     <div class="pt-2 pb-2">
                     	<strong  class="text-success" ng-if="isFilled === true">Total : <em>{{str}}</em></strong>                     	
                     	<strong style="display: block;" class="text-success" ng-if="isFilled === true">You'll receive : {{commissionedAmount}} &nbsp;<span style="font-weight: normal;">( platform {{checkLogIn.city_grade}}% discount applied )</span></strong>
                     </div>
                </div>
            </div>
            <div ng-if="!refData.pharmacy.doctor_id && isFilled !== true"><i class="fa fa-warning text-danger"></i> <span> The source of the above prescription is <strong>not trusted!</strong> It may have been prescribed by the patient or non-professional. <strong>Do Enquire</strong> from  this patient about the source before continuing.</span>
            </div>
			<div style="margin-top: 20px; margin-bottom: 30px">
				<!--<button  class="btn btn-simple" disabled="disabled" style="cursor: no-drop;" ng-if="isFilled !== true">Request Payment</button>-->
				<button class="btn btn-danger btn-sm" ng-click="sendBill(refData.pharmacy.patient_id)" ng-if="isFilled && !isOTP && !refData.pharmacy.is_paid && !loading">Request Payment</button> <span ng-if="loading">Sending...</span>&nbsp;&nbsp;
				<!--<button class="btn btn-info btn-sm" ng-click="toList(refData.pharmacy.patient_firstname,refData.pharmacy.patient_lastname,refData.pharmacy.patient_profile_pic_url,refData.ref_id,refData.date)" ng-if="allNote.length !== 0 && isFilled !== true">Add to attendance list</button>-->
				<button class="btn btn-neutral btn-sm" ng-click="toAnotherPharmacy()" ng-if="isForwardable === true">Refer to another <i class="fa fa-arrow-right"></i></button> 
				
				<!--<button class="btn btn-success btn-sm" ng-click="done()">Done</button>
				<button class="btn btn-default btn-sm" ng-click="toAnotherPharmacy()">Forward unticked drug to a pharmacy</button>
				<button class="btn btn-info btn-sm" ng-click="toList(refData.pharmacy.patient_firstname,refData.pharmacy.patient_lastname,refData.pharmacy.patient_profile_pic_url,refData.ref_id,refData.date)" ng-if="allNote.length !== 0">Attend later</button>	-->	

				<div ng-if="isOTP && !refData.pharmacy.is_paid" ng-controller="billingController">
					<h6 class="p-0">Billing confirmation</h6><hr>
					<div>						
						<article>
							<p><strong>To: {{refData.pharmacy.patient_firstname}} {{refData.pharmacy.patient_lastname}}</strong></p>			
							<p><strong>Amount billed: </strong> {{refData.amount}}</p>
							<!--<small>Get OTP from this patient to confirm payment. Note OTP expires in <strong>5 minutes</strong></small>-->
						</article>
						<!--<a href=""  ng-click="sendBill(resendPatientId,resend)">Resend OTP</a><br>-->
						<p>
				            cannot receive SMS? <a href=""  ng-click="sendBill(resendPatientId,resend)" class="text-info">resend OTP via SMS</a> <b> or </b> Try making a phone call to get the OTP code<br>
				            <a href="" ng-click="call(resendPatientId,resend)" class="text-danger"><i class="fa fa-phone"></i> Call now!</a>
				        </p> 
				        <p style="font-size: 14px" ng-if="showCallingMsg">{{showCallingMsg}}</p>
					</div>
					
				        
					<div class="p-0">	
						<div style="width: 90%">	
					    	<input type="text" class="form-control" placeholder="Enter OTP" ng-model="pay.otp">
					    </div>
					    <div>
					    	<small>Otp will auto submit when the six digits are completed</small> 
					    </div>
				    </div>
					<div class="pt-1">
						
					</div>
				    <div class="clearfix"></div>
				</div>

				<div ng-if="refData.pharmacy.is_paid" style="padding: 10px 15px;position: relative;margin-top: 20px;border:1px dashed rgba(0,0,0,0.6)">					
					<h5><i class="fa fa-check pb-0" style="color:green"> Payment successful!</i></h5>
					<article style="font-size: 14px">
						<div><b>Amount paid: {{refData.pharmacy.detail.amount}}</b></div>
						<div><b>Date of payment: {{refData.pharmacy.detail.date | date: "mediumDate"}} ( <span am-Time-Ago="refData.pharmacy.detail.date"></span> )</b></div>
					</article>	
					<a href="" class="btn btn-sm" style="position: absolute;top:10px;right:10px" ng-click="newPayment()">request new</a>
				</div>

			</div>
			
			<div class="prescription-info card" ng-if="refData.pharmacy.doctor_id">
				<h6 class="text-muted pb-1" style="border-bottom: 1px solid rgba(0,0,0,0.2);">Prescribed by: </h6>
				<div class="row">
					<div class="col-sm-6 col-md-2 col-lg-2" style="padding-left: 10pz">			
						<img class="img-rounded card" src="{{refData.pharmacy.doctor_profile_pic_url}}" style="max-height:120px; max-width:120px">
					</div>
					<div class="col-sm-6 col-md-10 col-lg-10" style="line-height: 25px;padding: 10px">								
						<strong class="font-1_1"> {{refData.pharmacy.title}} {{refData.pharmacy.doctor_firstname}} {{refData.pharmacy.doctor_lastname}}</strong><br>
						<span class="text-muted">{{refData.pharmacy.doctor_specialty}}</span>
						<span>{{refData.pharmacy.doctor_phone}}</span><br>
						<span><strong>{{refData.pharmacy.doctor_work_place}}</strong>| {{refData.pharmacy.doctor_address}}, {{refData.pharmacy.doctor_city}}, {{refData.pharmacy.doctor_country}}</span><br>
						<a href="{{refData.pharmacy.doctor_profile_url}}">View  profile.</a>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
</div>


