 <div class="tab-pane" ng-cloak>
     <div class="col-md-12 pl-2 pr-2">
        <div class="alert alert-info"><strong>Patient Signup : </strong>Please complete the form below.</div>
  <form class="row" ng-submit="submit('Patient')">

    <div class="col-md-12">
    <select class="custom-select form-control col-md-12" ng-model="user.title" required>
        <option value="" disabled selected>Select Title</option>                                           
        <option>Dr</option>
        <option>Mr</option>
        <option>Mrs</option>
        <option>Miss</option>
        <option>Master</option>
        <option>Chief</option>
        <option>Rev</option>
        <option>Pastor</option>
        <option>Engr</option>
        <option>Barr</option>
        <option>Surv</option>
        <option>Hon</option>
        <option>Ven</option>
        <option>HRH</option>
        <option>Prof</option>
        <option>Justice</option>
    </select>
  </div>  


  <div class="col-md-6 col-sm-12">     
    <input type="text" class="form-control" placeholder="First Name"  ng-model="user.firstname" required>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{FirstNameMessage}}</span>  
  </div>
  <div class="col-md-6 col-sm-12">    
    <input type="text" class="form-control" placeholder="Last Name"  ng-model="user.lastname">
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{lastNameMessage}}</span> 
  </div>

  
  <div class="col-md-6 col-sm-12">
  <select class="custom-select form-control col-md-12" ng-model="user.age" required>
  <option value="" disabled selected>Age category</option>                                           
    <option>0 - 28 days (newborn)</option>
    <option>29 days - 1 year (infant)</option>
    <option>1 - 5 years (younger child)</option>
    <option>6 - 12 years (older child)</option>
    <option>13 - 16 years (adolescent)</option>
    <option>17 - 29 years (young adult)</option>
    <option>30 - 39 years (adult)</option>
    <option>40 - 49 years (adult)</option>
    <option>50 - 64 years (adult)</option>
    <option>65 years - over (senior)</option>
  </select>
  <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{ageMessage}}</span> 
  </div>
  <div class="col-md-6 col-sm-12">
    <select class="custom-select form-control col-md-12" ng-model="user.gender" required>
        <option value="" disabled selected>Sex</option>                                           
        <option>Male</option>
        <option>Female</option>
    </select>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{genderMessage}}</span> 
  </div>

  <div class="col-md-12">
  <hr>
  </div>
  <div class="col-md-6 col-sm-12">
    <!--<input type="text" class="form-control" placeholder="Country" ng-model="user.country" >-->
    <select class="custom-select form-control col-md-12" ng-model="user.country" required>
      <option value="" selected disabled >{{status}}</option>
      <option ng-repeat="country in countries" value="{{country.geonameId}};{{country.countryCode}};{{country.countryName}}">{{country.countryName}}</option>
    </select>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{countryMessage}}</span> 
  </div>
 <!-- <div class="col-md-6 col-sm-12" style="position: relative;">
   
    <small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext1"></small>
   <select class="custom-select form-control col-md-12" ng-model="user.state"  >
      <option value="" selected disabled >{{status1}}</option>
      <option ng-repeat="state in states" value="{{state.geonameId}} {{state.name}}">{{state.name}}</option>
    </select>
  </div>


  <div class="col-md-6 col-sm-12" style="position: relative;">
   <small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext2"></small>
      <select class="custom-select form-control col-md-12" ng-model="user.region"/>
      <option value="" selected disabled >{{status3}}</option>
      <option ng-repeat="region in regions" value="{{region.geonameId}} {{region.name}}">{{region.name}}</option>
    </select>
  </div>-->
  <div class="col-md-6 col-sm-12" style="position: relative;">
   <!--<small class='fa fa-arrow-right' style="font-size:10px;color:blue;padding-left: 10px;position: absolute; left: 0;top:10px" ng-if="isNext3"></small>-->
   <input type="text" class="form-control" placeholder="City" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:10" ng-model="user.city" required>
    <!--<select class="custom-select form-control col-md-12" ng-model="user.city"  ng-cloak ng-if="isEdit === false" >
      <option value="" selected disabled >{{status2}}</option>
      <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
      <option value="edit">_Other</option>
    </select>-->
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{cityMessage}}</span> 

  </div>


 
 
 <div  class="col-md-6 col-sm-12" style="position: relative">
  
      <input type="number" name="callingcode" style="position:absolute; top:19px; background:transparent;  left:35px; border: none; width: 55px; outline:0;"  placeholder="{{(user.callingCode) ? user.callingCode : 'Code'}}" ng-model= "user.callingCode"/>
      <input type="number" class="form-control" noBorder" placeholder="Mobile number" ng-model="user.phone" required style="padding-left: 80px"/>  
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{phoneMessage}}</span>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{numberError}}</span>  
 </div>


 <div  class="col-md-6 col-sm-12">
      <input type="text" name="address" class="form-control" placeholder="Address" ng-model="user.address" required />
      <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{addressMessage}}</span>   
 </div>
 


 <!-- <div class="row col-md-12">
  <div class="col-md-6 col-sm-12 pr-0">  

  <div class="row col-md-12 p-0 mr-3 inputCreach" >
  <div class="col-md-3 col-sm-3 m-0 p-0">
    <input type="text"  class="form-control noBorder" placeholder="Code" value="{{callingCode}}"></div>
    <div class="col-md-9 col-sm-9 m-0 p-0">
    <input type="number" string-to-number class="form-control noBorder" placeholder="Mobile number" ng-model="user.phone"></div>
    </div>
  </div>

  <div class="col-md-6 col-sm-12" style="border: 1px solid blue">
   <input type="text" class="form-control" placeholder="Address" ng-model="user.address" style="margin-left: 10px">    
  </div>
</div>


  <div class="col-md-6 col-sm-12">
   <input type="text" class="form-control" placeholder="Address" ng-model="user.address" >    
  </div>-->
<div class="col-md-12">
<hr>
</div>

  <div class="col-md-6 col-sm-12">
  
    <input type="text" name="username" class="form-control" placeholder="User Name" ng-model="user.username" required>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{usernameMessage}}</span> 
  </div>
  <div class="col-md-6 col-sm-12">
    <input type="email" name= "email" class="form-control" placeholder="Email" ng-model="user.email" required>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{emailMessage}}</span> 
  </div>


  <div class="col-md-6 col-sm-12">
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:0px 0 0 10px;float: left;">{{passwordMessage}}</span> 
  </div>
  <div class="col-md-6 col-sm-12">
    <input type="password" class="form-control" placeholder="Confirm Password" ng-model="user.password2" ng-class="{'password2':misMatch === true}" >
    <span class="text-danger" style="font-size: 10px;display: inline-block;margin:-60px 0 0 10px;float: left;">{{passwordError}}</span> 
  </div>

<div class="col-md-12">
<label class="custom-control custom-checkbox" style="margin-top:20px">
  <input type="checkbox"  ng-model="user.agree"  style="width:22px;height:22px" >
  <span class="custom-control-description" style="font-size: 14px;display:inline-block;padding-left:10px"> I agree with the <a href="/terms" target="_blank" >Terms of Service</a> and <a href="/privacy" target="_blank"> Privacy Policy.</a></span>
  <span class="text-danger" style="font-size: 10px;display: inline-block;margin:0px 0 0 10px;float: left;">{{termMessage}}</span> 
</label>
</div>
<div class="clearfix"></div>
<!--<button class="btn btn-simple" ng-click="submit('Patient')"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:blue" ng-if="loading"></i>
<span class="sr-only">Loading...</span> Create Account</button>-->
<div class="col-md-12">
    <div>
      <input type="submit" class="btn btn-simple btn-lg" value="Create Account" ng-if="!loading && !isPhoneverify" style="font-size: 18px!important">
      <span ng-if="loading"> <i class="fa fa-spinner fa-pulse fa-1x fa-fw text-info" ></i> Processing...</span>
    </div>
</div>
</form>
     </div>
</div>
