<div class="p-2" style="">
	<h3>{{name}} <input type="text" style="float: right;padding: 3px;font-size: 14px" placeholder="Filter" ng-model="usr" name=""></h3>
	
		<table class="table">
			<thead>
				<!--<th style="width: 5%">Created</th>-->
				<th style="width:25%"><b>Name</b></th>
				<th style="width:25%"><b>City</b></th>
				<th ng-if="isDoctorsView" style="width: 15%"><b>Specialty</b></th>
				<th style="width: 15%"><b>Email</b></th>
				<th style="width: 15%"><b>Phone</b></th>
				<!--<th><b>ID</b></th>-->
				<th ng-if="!isPatientsView" style="width: 15%"><b>Status</b></th>
				<th style="width: 10%"><b>Action</b></th>
			</thead>
			<tbody ng-repeat="i in list | filter: usr | orderBy: '-date'" ng-if="i.type !== 'admin'">
				<!--<td><img src="{{i.profile_pic_url}}" style="width: 45px; height: auto;"></td>-->
				<!--<td style="width: 5%">{{i.date | date: 'mediumDate'}}</td>-->
				<td style="width: 25%;word-wrap: break-word;">
				<b class="text-muted">
				<span ng-if="i.lastname">{{i.title}} {{i.firstname}} {{i.lastname}}</span> 
				<span ng-if="!i.lastname">{{i.name}}</span></b>
				</td>
				<td>{{i.city}}</td>
				<td ng-if="isDoctorsView" style="width: 15%;word-break: break-all;">{{i.specialty}}</td>
				<td style="width: 15%">{{i.email}}</td>
				<td style="width: 15%">{{i.phone}}</td>
				<!--<td>{{i.user_id}}</td>-->
				<td ng-if="!isPatientsView" style="width: 15%"><span ng-if="i.verified" class="text-success">Verified</span> <span ng-if="!i.verified" class="text-danger">Not Verified</span></td>
				<td style="width: 10%"><a href="" class="btn btn-success btn-sm" ng-click="getUser(i.user_id)">view details</a></td>
			</tbody>
		</table>	

</div>