
<div class="card-center-1" ng-if="path">
	<a href="#{{path}}" class="btn btn-simple" ng-if="path"><i class="fa fa-arrow-left"></i> Back</a>
</div>
<div class="card p-2  card-center-1" style="position: relative;" ng-if="courierResponse">
	<h5><i class="fa fa-motorcycle"></i> Courier Order <i class="tip fa fa-question-circle"><span>When you request for drug delivery, the dispatch pharmaceutical center receives and computes the cost of drugs you requested. The bill for the items will be sent to you which triggers <b class="text-info">Ready</b> status. You are required to pay the bill to automatically initiate the delivery process, the status will change to <b class="text-warning">On Delivery</b>. Please give the <b>order ID (below the payment history)</b> to the delivery agent when you have confirmed the receipt of the requested items. The status turns <b>Complete</b> when tranaction is successful</span></i></h5>
	<!--<span style="position: absolute;top: 20px;right: 20px">Order ID: {{courierResponse.request_id}}</span>-->
	<hr>
	<div>
		<label>Status:</label>  <span style="font-weight: bold" ng-class="{'text-danger': !courierResponse.attended,'text-info': courierResponse.attended,'text-success':courierResponse.completed,'text-warning':courierResponse.is_paid}">{{(!courierResponse.verified || !courierResponse.attended) ? 'Pending' : (!courierResponse.is_paid && courierResponse.attended) ? 'Ready': (courierResponse.is_paid && !courierResponse.completed) ? 'On Delivery' : (courierResponse.completed) ? "Received" : ""}}</span> 
	</div>
	<div ng-if="!courierResponse.verified || !courierResponse.attended">
		<label>Description:</label> Cost of delivery has not been calculated or billed.
	</div>
	<div>
		<label>Order Date:</label> {{courierResponse.date | date: "fullDate"}}
	</div>
	<div>
		<label>Order Time:</label> {{courierResponse.date | date: "mediumTime"}}
	</div>
	<div>
		<label>Phone Numbers:</label> {{courierResponse.phone1}} {{courierResponse.phone2}}
	</div>
	<div>
		<label>Delivery Address:</label> {{courierResponse.address}}
	</div>
	<hr>
	<h6>Dispatch Center</h6>
	<div>
		<label>Name:</label> {{courierResponse.center_name}}
	</div>
	<div>
		<label>Address:</label> {{courierResponse.center_address}}
	</div>
	<div>
		<label>Phone:</label> {{courierResponse.center_phone}}
	</div>
	<hr>
	<h6>Drug(s) Ordered</h6>
	<table class="table">
		<thead>
			<th>sn</th>
			<th>Name</th>
			<th>Dosage</th>
			<th>Frequency</th>
			<th>Duration</th>
		</thead>
		<tbody ng-repeat="i in courierResponse.prescription_body">
			<td>{{i.sn}}</td>
			<td>{{i.drug_name}}</td>
			<td>{{i.dosage}}</td>
			<td>{{i.frequency}}</td>
			<td>{{i.duration}}</td>
		</tbody>
	</table>
	<div ng-if="!courierResponse.attended && !courierResponse.is_paid">
		<button class="btn btn-danger" ng-click="cancel(courierResponse._id)">{{(canceling) ? 'Canceling...' :'Cancel order'}}</button>
	</div>
	<div style="line-height: 35px" ng-if="courierResponse.attended && courierResponse.verified">
		<h6>Billing</h6>
		<div>
			Cost of Drugs : {{toCurrency(courierResponse.total_cost)}}
		</div>
		<div>
			Delivery Charge : {{toCurrency(courierResponse.delivery_charge)}}
		</div>
		<div>
			Total Billed : <b>{{getTotal(courierResponse.delivery_charge,courierResponse.total_cost)}}</b>
		</div>
		<div class="pt-1">
			<p class="text-success">{{otpMsg}}</p>
		</div>
		<div class="pt-2" ng-if="!isOtp && !courierResponse.is_paid">
			<button class="btn btn-info" ng-click="pay(resend)" ><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i> {{(loading) ? "" : "Pay Now!"}}</button>&nbsp;&nbsp;&nbsp;
			<button class="btn btn-neutral" ng-click="reOrder(courierResponse)">Re-order</button>&nbsp;&nbsp;&nbsp;
			<button class="btn btn-neutral" ng-click="cancel(courierResponse._id)">Cancel Order</button>
		</div>
	</div>
	<div ng-if="isOtp && !courierResponse.is_paid">
		<div style="">			
			<p>
	            Cannot receive SMS? <a href="" ng-click="pay(resend)" class="text-info">Resend OTP via SMS</a> <b> or </b> Try voice call that will say the OTP code
	            <a href="" ng-click="call(resend)" class="text-danger"><i class="fa fa-phone"></i> Call now!</a>
	        </p> 
	        <p style="font-size: 14px" ng-if="showCallingMsg">{{showCallingMsg}}</p>
		</div>
		<!--
			 <p>
	            cannot receive SMS? <a href="" style="color: blue" class="pt-1" ng-click="sendAcceptanceVerification(resend)">resend OTP via SMS</a> <b>or</b> Try making a phone call to get the OTP code
	            <a href="" ng-click="call(resend)" class="text-danger"><i class="fa fa-phone"></i> Call now!</a>
	        </p> 
	        <p style="text-align: center;font-size: 14px" ng-if="showCallingMsg">{{showCallingMsg}}</p>
		-->
		<div style="width: 70%;">
			<input type="text" placeholder="Enter otp" class="form-control" ng-model="user.pin">
		</div>
		<div style="width: 50%;margin: 0 auto;padding: 10px 0">			
			<button class="btn-info btn" ng-click="confirm(courierResponse)"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i> {{(loading) ? "" : "Confirm Payment"}}</button>
		</div>
	</div>
	<hr>
	<div style="line-height: 25px" ng-if="courierResponse.is_paid && courierResponse.attended && courierResponse.verified">
		<h6>Payment History</h6>
		<div class="text-primary">
			<i class="fa fa-check-circle"></i> Payment for this drug(s) was made successfully!
		</div>
		<div>
			Amount Paid for Drug(s): <b>{{toCurrency(courierResponse.total_cost)}}</b>
		</div>
		<div>
			Amount Paid for Delivery: <b>{{toCurrency(courierResponse.delivery_charge)}}</b>
		</div>
		<div>
			Order ID: <b>{{courierResponse.request_id}}</b>
		</div>
		<hr>
		<p class="text-success">Order ID is required for confirmation of receipt of the package/drugs. Please give out to field agent if you had received the package/drugs.<br><br>
		If you have any complaint for this service please <a href="" class="text-info" ng-click="sendDispute(courierResponse._id)"> send to us a dispute notification </a> and we'll contact you shortly.
		</p>
	</div>
</div>
<div style="height: 200px">
	
</div>