
 <div class="card card-center-1 p-1">
 <form>
     <h4 class=" mb-0" style=""><i class="fa fa-user-md"></i> Find Doctor</h4><br>
     <div class="col-md-5">
        <label for="lastname">Search options: </label>
        <select class="custom-select form-control" ng-model="user.creteria" style="font-size: 14px!important">
          <option selected value="doctorname">Find by name (default)</option>
          <option value="specialty">City &amp; Doctor's Specialty</option>
          <option value="doctorId">Find by doctor's ID</option>
          <option value="disease">Find by disease</option>
        </select>
     </div>
      <div class="clearfix"></div>
      <div class="form-group" ng-if="isName === true">
        <label for="lastname" class="pl-0">Doctor's name:</label>
        <!--<input type="text" class="form-control" placeholder="e.g Dr Ede or Ede" ng-model="user.name" style="font-size: 14px!important">-->
        <input type="text" class="form-control" placeholder="e.g Dr Ede or Ede"  id=""  uib-typeahead="name.name for name in names | filter:$viewValue | limitTo:15" ng-model="user.name" style="font-size: 14px!important">
      </div>

       <div class="form-group" ng-if="isSpecialty === true">
           <label for="lastname">City: </label>
        <input type="text" class="form-control" placeholder="Enter city name"    uib-typeahead="city for city in cities | filter:$viewValue | limitTo:15" ng-model="user.city" style="font-size: 14px!important">
        {{getCity(city)}} 
      </div>




      <div class="form-group" ng-if="isSpecialty === true">
          <label for="specialty">Specialty: </label>
           <input type="text" class="form-control" placeholder="Enter specialty"  id=""  uib-typeahead="specialty for specialty in allSpecialties | filter:$viewValue | limitTo:15" ng-model="user.specialty" style="font-size: 14px!important">
      </div>

      <div class="form-group" ng-if="isDoctorId === true">
          <label for="doctorId">Doctor's ID:</label>
        <input type="text" class="form-control"  placeholder="Enter Doctor's ID" ng-model="user.doctorId" style="font-size: 14px!important">
      </div>

      <div class="form-group" ng-if="isDisease === true">
        <label for="disease">Find by disease: </label>
        <!--<input type="text" class="form-control"  placeholder="Enter disease eg Malaria" ng-model="user.disease" style="font-size: 14px!important">-->
         <input type="text" class="form-control" placeholder="Enter e.g sickle cell"    uib-typeahead="disease for disease in diseases | filter:$viewValue | limitTo:15" ng-model="user.disease" style="font-size: 14px!important">
      </div>
      
      
      <div class="col-md-12 form-group" style="text-align: center;">
        <button class="btn btn-info btn-lg" ng-click ="find()"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color: #fff" ng-if="loading"></i> {{(loading) ? "" : "Find"}}</button>
      </div>
</form>
 </div>
 <div style="height: 200px">
   
 </div>
 

 