<div class="p-2" style="">
	<h3>Pending Delivery ({{scrollList.length}})</h3>
	<input type="text" placeholder="Filter by order ID" ng-model="filt" class="p-1">
	<a href="" style="float: right;" ng-click="refresh()"><i class="fa fa-refresh text-mutes" ></i>Refresh</a>
	
	<table class="table">
		<thead>
			<th>Started</th>
			<th>Order ID</th>
			<th>Total Cost</th>
			<th>Delivery Charge</th>
			<th>Action</th>
		</thead>
		<tbody ng-repeat="i in scrollList | orderBy : '-start_date' | filter : filt">
			<td><span am-time-ago="i.start_date"></span></td>
			<td>{{i.order_id}}</td>
			<td>{{i.amount_str}}</td>
			<td>{{i.delivery_charge}}</td>
			<td><a href="" class="btn btn-neutral btn-sm text-info" ng-click="viewDetails(i.courier_id)">View details</a> <a href="" class="btn btn-neutral btn-sm text-danger">Refund</a></td>
		</tbody>
	</table>

</div>