<div class="container">
	<div class="card-center-1 card p-2">
		<h4 class="p-0 mt-0">Work History <span style="font-size: 14px;color: darkRed"> ( {{(renderedServices.length > 1000) ? '1K+' : renderedServices.length}} ) </span></h4>
		
		<div style="width: 70%">
			<input type="text" name="" class="form-control" placeholder="filter" ng-model="filterRendered">
		</div>
		<div style="max-height: 800px; overflow-y: auto;margin-top: 20px">
			<div ng-repeat="person in renderedServices | filter: filterRendered" ng-if="person.radiology" class="pt-1" style="position: relative;">
			{{getDateGroup(person.service_date,person)}}
				<div style="padding: 5px;background-color: #d7dde4;font-weight: bold;" ng-if="person.dategroup">{{person.dategroup}}</div>
				<strong class="text-danger ellipsis" style="display: block;widows: 90%;">{{person.radiology.patient_title}} {{person.radiology.patient_firstname}} {{person.radiology.patient_lastname}}</strong>
				<span style="display: block;"><b>Reference number: </b>&nbsp;{{person.ref_id}}</span>
				<span style="display: block;"><b>Status: </b>&nbsp;Test report delivered </b> &nbsp;<span am-time-ago="person.service_date"></span></span>
				<span style="display: block;"><b>Destination:  </b> &nbsp;{{person.receiver}} </span>
				<button class="btn btn-info btn-sm" style="position: absolute;bottom: 3px; right: 20px" ng-click="viewReport(person)">view details</button>
			</div>
			<div ng-repeat="person in renderedServices | filter: filterRendered | orderBy: '-service_date' " ng-if="person.laboratory" class="pt-1" style="position: relative;">
			{{getDateGroup(person.service_date,person)}}
				<div style="padding: 5px;background-color: #d7dde4;font-weight: bold;" ng-if="person.dategroup">{{person.dategroup}}</div>
				<strong class="text-danger ellipsis" style="display: block;width: 90%;">{{person.laboratory.patient_firstname}} {{person.laboratory.patient_lastname}}</strong>
				<span style="display: block;"><b>Reference number: </b>&nbsp;{{person.ref_id}}</span>
				<span style="display: block;"><b>Status: </b>&nbsp;Test report delivered </b> &nbsp;<span am-time-ago="person.service_date"></span></span>
				<span style="display: block;"><b>Destination:  </b> &nbsp;{{person.receiver}} </span>
				<button class="btn btn-info btn-sm" style="position: absolute;bottom: 3px; right: 20px" ng-click="viewReport(person)">view details</button>
			</div>

			<div ng-repeat="person in renderedServices | filter: filterRendered | orderBy: '-date'" ng-if="person.type === 'pharmacy'" class="pt-1" style="position: relative;">
				{{getDateGroup(person.date,person)}}
				<div style="padding: 5px;background-color: #d7dde4;font-weight: bold;" ng-if="person.dategroup">{{person.dategroup}}</div>
				<strong class="ellipsis" style="display: block;width: 90%;color: green">{{person.patient_names}}</strong>
				<span style="display: block;"><b>Reference number: </b>&nbsp;{{person.ref_id}}</span>
				<span style="display: block;"><b>Status: </b>&nbsp; <span class="text-muted">delivered</span> &nbsp;<span am-time-ago="person.service_date"></span></span>
				<span ><b>Article:  </b> &nbsp;<span style="display: block;text-indent: 15px" class="text-danger" ng-repeat="item in person.prescriptionBody">{{item.drug_name}} <span style="color: #000">( {{item.dosage || 'not specified' }} )</span></span>
				<span style="display: block;margin-top: 10px"><b>Total cost: </b>&nbsp; {{toCurrency(person.amount)}}</span>
				<button class="btn btn-info btn-sm" style="position: absolute;bottom: 3px; right: 20px" ng-click="viewReport(person)">view details</button>
				<hr class="bg-simple">
			</div>
			<div ng-if="renderedServices.length == 0">
				<p style="text-align: center;padding-top: 20px">Oops! Work history is empty.</p>
			</div>
		</div>
	</div>
</div>