<div class="p-2" style="">
	<h3>Settled Withdrawals ( {{cashedOut.length}} ) <input type="text" placeholder="filter" ng-model="filt" style="float: right;"></h3>
	
	<table class="table">
		<thead>
			<th>Time</th>
			<th>Names</th>
			<th>Bank</th>
			<th>Acc. No</th>
			<th>Amount</th>
			<th>Type</th>
			<th>user Id</th>
		</thead>		
	    <tbody ng-repeat="i in cashedOut | filter : filt | orderBy: '-confirmation_date'" class="cashouts">
	    	<td><span>{{i.confirmation_date}}</span></td>
	    	<td>{{i.name}}</td>
	    	<td>{{i.bank}}</td>
	    	<td>{{i.account_number}}</td>
	    	<td>{{toCurrency(i.amount)}}</td>
	    	<td>{{i.account_type}}</td>
	    	<td>{{i.user_id}}</td>
	    </tbody>		
	</table>
</div>