<div class="card card-center-1" style="padding: 20px">
	<h3 ng-if="checkLogIn.typeOfUser !== 'Pharmacy'">Add Investigation</h3>
	<h3 ng-if="checkLogIn.typeOfUser === 'Pharmacy'" class="p-0">Add Drug</h3>
	<p style="background-color:#85CE36;color:#fff;padding:15px;text-align:center;" ng-if="status && status !== '' ">{{status}}</p>
	<p ng-if="checkLogIn.typeOfUser !== 'Pharmacy'">
	Create an investigation currently available in your center. Please note that an investigation will not be created if it already exists in our database.Please type the investigation and check the dropdown list to see if it already exist.</p>
	<p ng-if="checkLogIn.typeOfUser === 'Pharmacy'">Create a drug currently available in your center. Please note that a drug will not be created if it already exists in our database. Please check the dropdown list to see if it exist.</p>
	<form>		
	<input  type="text" placeholder="Enter item" ng-model="test.name" uib-typeahead="test.name for test in services | filter:$viewValue | limitTo:20" class="form-control"  ng-class="{'disabled': i.name}" style="font-weight:bold;width: 70%">
		<div style="padding: 10px 5px">

			<button class="fa fa-plus btn-simple" ng-click="createTest()" ng-if="!loading" > Add</button> <span ng-if="loading"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange" ></i>  <span>adding item...</span></span>
		</div>
	</form>
</div>