<!--<div class="col-sm-12 col-md-12 col-lg-12">
	<div class="row">		
		<div class="col-sm-6 col-md-4 col-lg-4 pull-right">
			<p style="cursor: pointer; text-decoration: underline; margin-top: 20px" ng-click="showOption()">Search option</p>	
		</div>
		<div class="col-sm-6 col-md-8 col-lg-8">
			<h3>All Referrals</h3>
		</div>
	</div>	
	<form ng-if="isNotOption">			
		<input type="text" placeholder="Enter referrence number" style="border:1px solid #000; width:50%" ng-model="patient.ref_id" />
		<input type="button" value="Find patient Prescription" ng-click="findPrescription()" style="padding: 20px; background-color:green;color:#fff;border-radius: 2px;box-shadow: 0px 2px 3px rgba(0,0,0,0.6)"/>
	</form>

	<form ng-if="isOption">
		<input type="text" placeholder="Enter patient phone number" style="border:1px solid #000; width:50%" ng-model="patient.phone" />
		<input type="button" value="Find patient Prescription" ng-click="findPrescription()" style="padding: 20px; background-color:green;color:#fff;border-radius: 2px;box-shadow: 0px 2px 3px rgba(0,0,0,0.6)"/>
	</form>

	<div ng-click="viewPatientPrescription(foundData.ref_id)" style="padding: 20px; cursor:pointer">
		<img ng-src="{{foundData.pharmacy.patient_profile_pic_url}}" style="width:100px; height: 100px">
		<span>{{foundData.pharmacy.patient_firstname}} {{foundData.pharmacy.patient_lastname}}</span>
		<span>{{foundData.ref_id}}</span>
	</div>
	<p style="text-align: center; font-size: 22px">{{error}}</p>
</div>-->

<div class="container">
<div class="card card-center-1 p-2">
<div class="col-md-12 col-lg-12 col-sm-12">
	<div class="row">		
		<div class="col-md-12 col-lg-12 col-sm-12">			
			<h4 class="p-0">Find Prescription</h4>
			<button class="btn btn-danger btn-sm" style="cursor: pointer;float: right;;margin-top: -60px" ng-click="showOption()">Toggle option</button>
		</div>	
		<div class="clearfix"></div>	
	</div>	
    <div class="row">
		<form class="col-md-12 col-lg-12 col-sm-12" ng-if="isNotOption" style="">
		<div>
			<label style="padding: 20px 5px">Prescription reference Number</label>	
		</div>			
			<input type="text" class="form-control" placeholder="Enter referrence number" ng-model="patient.ref_id" style="width:60%;display: inline-block;padding: 20px 10px"/>
			<button type="submit" class="btn btn-success"  ng-click="findPrescription()" style="">Find</button>
		</form>

		<form class="col-md-12 col-lg-12 col-sm-12" ng-if="isOption">
		<div>
			<label style="padding: 20px 5px">Patient's phone Number</label>	
		</div>
			<input type="number" class="form-control" placeholder="Enter phone number" ng-model="patient.phone" style="width:60%;display: inline-block;padding:20px 10px"/>
			<button type="submit" class="btn btn-success"  ng-click="findPrescription()" style="">Find</button>
		</form>
    </div>
    <br>
	<div  ng-if="foundData[0].ref_id">	
		<div ng-repeat="item in foundData | orderBy: '-date'" class="row">	
	        <div class="col-md-2">
	        	<img src="{{item.pharmacy.patient_profile_pic_url}}" style="max-width:120px; max-height: 120px">
	        </div>
			<div class="col-md-7"> 
				<strong class="">{{item.pharmacy.patient_firstname}} {{item.pharmacy.patient_lastname}}</strong><br>				
				<span class="">Ref No: {{item.ref_id}}</span><br>
				<span am-Time-Ago = "item.date"></span>				
			</div>  
			<div class="col-md-2 pt-2">
				<button class="btn btn-simple btn-sm"  ng-click="viewPatientPrescription(item)">view prescription</button>
			</div>
		</div>     
	</div>
	<div ng-if="loading" style="padding-top: 50px;width: 60%;text-align: center;">
		  <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange;font-size: 22px" ng-if="loading"></i>
	</div>
	<p class="font-1_2" style="padding: 30px;color: red;" ng-if="!foundData[0].ref_id">{{error}}</p>

</div>

</div>
</div>




