<div>
<div class="card p-2">
	<div ng-if="isRequest === true">
		<div class="col-md-12 col-lg-12">
			<p class="font-1_1">Dear {{patientName}},
			  <span style="display: block"> Your request to consult Dr. {{reqInfo.firstname}} {{reqInfo.lastname}} was <strong style="font-weight: bold;">rejected</strong> by the doctor on {{reqInfo.date | date: "mediumDate"}}.</span>		   
			</p>
			<p style="font-style: italic">Reason for rejecting the consultaion request <span ng-if="reqInfo.reason"> explained below:</span> <span style="display: block;padding: 10px;font-style: italic;">{{reqInfo.reason}}</span> <span ng-if="!reqInfo.reason"> Not stated.</span></p>
			<div>
				<!--<label>You can find the right specialists for your medical needs in just two ways below: </label>
				<div>
					<p> 1) Click <b>need a doctor</b> button on top then submit you complaint to Patient Waiting Room (PWR) where the right specialists will attend to you.</p>
					<p> 2) Go to <b>Searches</b> then select <b>Find Doctor</b>. From the list of search results, you can book a specialist of your choice.</p>
				</div>-->
				<p>You can <a href="#/find-specialist" class="text-info"> find another specialist </a> for your case or <a href="#/need-specialist" class="text-info">submit your complaint</a> to PWR where the right specialists will respond to your complaint.</p>
				<p>If you need assistance feel free to contact us support@applinic.com or use <a href="#/help" class="text-info"> this form </a> to tell us what you're looking for. </p>
			</div>
		</div>
		<div class="" style="margin-top: 30px; padding-right: 55px; padding-left: 15px">
				<div class="tg-regardsleft">
					<em>Regards,</em><br>
					<strong>Applinic Management.</strong>
				</div>
			
			</div>
			<div  class="" style="margin-top: 30px;padding-left: 15px">
				<button class="btn btn-danger" ng-click = "decline(reqInfo.message_id)">Delete</button>			
			</div>
	</div>
</div>
</div>
