<div>
  <div class="card-center-1">
	<button class="btn btn-simple" ng-click="goBack()"><i class="fa fa-arrow-left"></i> Back</button>
  </div>
<div class="card card-center-1 p-1">
	<h4 class="p-0">Forwarding Prescription</h4>
	<strong style =""><span ng-repeat="drug in unavailableDrugArr"> @{{drug.drug_name}} &nbsp;&nbsp;</span> </strong>
	<form>
		<div> 
			 <input type="text" class="form-control"  type="text" placeholder="Enter city/town" ng-model="pharmacy.city" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:20" style="width:70%;display: inline-block;padding: 15px">
			<button style="margin-left:6px;" type="button" class="btn btn-success pl-1 pr-1" value="FIND" ng-click = "findPharmacy()">Find</button>
			<!--<p style="font-style: italic;padding:10px"><i class="fa fa-info"> &nbsp;By default search result shows the centers within your city. You can search based on your desired city.</i></p>-->
		</div>
	</form>
	<div>
		<div ng-if="pharmacyData.length > 0"> 
				<input type="text" class="form-control"  placeholder="Filter by name of center" ng-model = "pharmacy.name" style="border:none;border-bottom: 1px solid rgba(0,0,0,0.2);width:70%"/>
		</div>	
		<div class= "look-up-phamarcy row" ng-repeat = "result in pharmacyData | filter: pharmacy.name | orderBy: 'name'" style="position: relative; margin: 15px 0;padding-left: 10px;overflow-y: auto;" ng-if="checkLogIn.user_id !== result.user_id">	
			<div class="col-md-7 col-lg-7">
				<strong class="mb-0">{{result.name}}</strong>
				<span class="" style="display: block;margin-bottom: 5px">{{result.address}} <span>{{result.city}}, {{result.country}}</span></span>
				<span style="display: block;">{{result.phone}}</span>
			</div>	
		    <div class="col-md-5 col-lg-5 pt-1 pb-1">	      		
				<a style="text-decoration: none;color: grey;"><i class="fa fa-comment btn btn-simple btn-sm text-success"  title="send message" ng-click="sendChat(result)"></i></a>
				<a href="" style="text-decoration: none;" class=""  title="Forward to {{result.name}}"> <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="" ng-if="result.loading"></i> <i class="fa fa-share btn btn-danger btn-sm"  ng-click="forwardPrescriptionTo(result)" ng-if="!result.loading && !result.success"> </i> <span style="display: inline-block;padding: 5px">{{(result.success) ? "sent!" : ""}}</span></a>
			</div>
			
		</div>
	</div>
</div>
</div>

