<style type="text/css">
	textarea {
		width: 350px;
		height: 20px;
		border: none;
		border-bottom: 2px dotted #000;
		padding: 0 5px;
	}

	input {
		border: none;
		height: 35px;
		display: block;
		background-color: inherit;
	}

	.hide-tb {
		display: none;
	}
</style>
<div class="card-center-1">
	<div>
	<a href="{{'#/referral/laboratory-test'}}" ><i class="fa fa-arrow-left btn-sm" style="cursor: pointer" ng-if="refInfo.laboratory.test_to_run.length > 0"> &nbsp;Back</i></a>
	</div>
		
	
	
	<div ng-if="refInfo.laboratory.test_to_run.length > 0" class="col-sm-12 col-md-12 clo-lg-12">
		<div class="row">
			<!--<div class="col-sm-12 col-md-12 col-lg-12  card pt-2" ng-if="hasSent && !isPreview" style="position: relative;">
				<div style="display: inline-block;float: left">
					<img src="{{refInfo.laboratory.patient_profile_pic_url}}" style="max-width: 150px; max-height: 150px;">
				</div>
				<div style="display: inline-block;padding-left: 10px">
					<strong style="display: block;" class="ellipsis">{{refInfo.laboratory.patient_title}} {{refInfo.laboratory.patient_firstname}} {{refInfo.laboratory.patient_lastname}}</strong>
					<span style="display: block;">{{refInfo.laboratory.patient_gender}}</span>
					<span style="display: block;">{{refInfo.laboratory.patient_age}}</span>					
					<span style="display: block;">{{refInfo.laboratory.patient_phone}}</span>
					<span style="position: absolute; top: 25px;right: 20px;color: darkRed" am-time-ago="refInfo.date"></span>
					<i class="fa fa-check-circle" style="font-size: 42px;color: #85CE36;position: absolute; top: 65px; right: 40px;" ng-if="refInfo.laboratory.is_paid || paymentStatus"></i>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div class="col-sm-12" style="padding:20px" ng-if="!isPreview">
				    <label>Clinical Summary: </label><br>
					<span class="pt-1 pb-1" style="" ng-if="refInfo.laboratory.clinical_summary">
						{{refInfo.laboratory.clinical_summary}}
					</span>
				</div>

				<div class="col-sm-12 " style="padding:20px" ng-if="!isPreview">
					<label>Indication: </label> <br>
					<span class="pt-1 pb-1" style="font-size:1em;text-indent: 15px;margin-bottom: 10px" ng-if="refInfo.laboratory.indication">
						{{refInfo.laboratory.indication}}						
					</span>
				</div>

				<div class="col-sm-12 " style="padding:20px" ng-if="!isPreview && refInfo.laboratory.patient_gender === 'female'">
					<label>Parity:</label><br>
					<span class="pt-1 pb-1" style="font-size:1em;text-indent: 15px;margin-bottom: 10px" ng-if="refInfo.laboratory.parity">
						{{refInfo.laboratory.parity}}						
					</span>
				</div>

				<div class="col-sm-12 " style="padding:20px" ng-if="!isPreview && refInfo.laboratory.patient_gender === 'female'">
					<label>LMP: </label><br>
					<span class="pt-1 pb-1" style="font-size:1em;text-indent: 15px;margin-bottom: 10px" ng-if="refInfo.laboratory.lmp">
						{{refInfo.laboratory.lmp}}
						
					</span>
				</div>



				<div class="col-sm-12 " style="padding:20px" ng-if="!isPreview">
					<label>Referring Physician:</label><br>
					<span class="pt-1 pb-1" style="font-size:1em;text-indent: 15px;margin-bottom: 10px">
						{{refInfo.referral_title}} {{refInfo.referral_firstname}} {{refInfo.referral_lastname}}
					</span>
				</div>										

				
				<div class="col-sm-12 card" style="padding:20px" ng-if="!isPreview">					
					<div class="mb-0 mt-0 pl-0 font-1_2"  style="display: inline-block;padding-bottom: 5px"><b>Tests</b></div>
    				<div class="mt-1"  ng-repeat = "test in refInfo.laboratory.test_to_run" >
						<label class="custom-control custom-checkbox">
		    				<input type="checkbox" ng-model="test.select"  class="custom-control-input">
		    				<span class="custom-control-indicator"></span>
		    				<span class="custom-control-description">{{test.name}}</span>
    					</label>
    				</div>
				</div>	
					
		
			
				<p style="padding:30px"><i class="fa fa-warning text-danger"></i>  If <strong>any</strong> of the tests above is <b>not</b> available in your center please <b>uncheck it ( if checked )</b> and <a href="" style="color: blue;font-size:16px;text-decoration: unset;" ng-click="redirectTest()"> refer to another center.</a> Unchecked test is regarded as <b>not</b> available service in your center.</p>
				

		</div>-->

		<div class="card p-2">
		<h4>Investigation Request</h4>
		<div>
			<table>
				<tbody class="p-1">
					<tr>
						<td style="width: 30%"><h5>Patient Name</h5> </td>
						<td style="width: 60%">{{refInfo.laboratory.patient_title}} {{refInfo.laboratory.patient_firstname}} {{refInfo.laboratory.patient_lastname}}</td>
					</tr>
					<tr>
						<td><label>Gender</label> </td>
						<td>{{refInfo.laboratory.patient_gender}}</td>
					</tr>
					<tr>
						<td><label>Age</label> </td>
						<td>{{refInfo.laboratory.patient_age}}</td>
					</tr>
					<tr>
						<td><label>Phone</label> </td>
						<td>{{refInfo.laboratory.patient_phone}}</td>
					</tr>
					<tr>
						<td><label>Investigation(s) Requested</label> </td>
						<td>
							<div class="mt-1"  ng-repeat = "test in refInfo.laboratory.test_to_run" >
								<label class="custom-control custom-checkbox">
				    				<input type="checkbox" ng-model="test.select"  class="custom-control-input">
				    				<span class="custom-control-indicator"></span>
				    				<span class="custom-control-description">{{test.name}}</span>
		    					</label>
		    				</div>
						</td>
					</tr>

					<tr ng-show="refInfo.laboratory.indication !== 'undefined'">
						<td><label>Indication / Summary</label> </td>
						<td><p>{{refInfo.laboratory.indication}}</p> <p>{{refInfo.laboratory.clinical_summary}}</p></td>
					</tr>

					<!--<tr ng-show="refInfo.laboratory.clinical_summary !== 'undefined'">
						<td>Clinical Summary: </td>
						<td>{{refInfo.laboratory.clinical_summary}}</td>
					</tr>-->

					<tr ng-if ="refInfo.laboratory.parity">
						<td><label>Parity</label> </td>
						<td>{{refInfo.laboratory.parity}}</td>
					</tr>

					<tr ng-if ="refInfo.laboratory.lmp">
						<td><label>LMP</label> </td>
						<td>{{refInfo.laboratory.lmp}}</td>
					</tr>

					<tr>
						<td><label>Requested By</label> </td>
						<td><span>{{(refInfo.referral_title) ? refInfo.referral_title : ""}} {{ (refInfo.referral_firstname) ? refInfo.referral_firstname : ""}} {{(refInfo.referral_lastname) ? refInfo.referral_lastname : ""}}</span><br>
						<span><label>Email </label> {{refInfo.referral_email}} <label>Phone </label> {{refInfo.referral_phone}}</span>
						</td>
					</tr>
					<tr ng-show="refInfo.laboratory.title">
						<td><label>Referring Physician</label> </td>
						<td>{{refInfo.laboratory.title}} {{refInfo.laboratory.doctor_firstname}} {{refInfo.laboratory.doctor_lastname}} </td>
					</tr>
					<tr>
						<td><label>Reference Number</label> </td>
						<td>{{refInfo.ref_id}}</td>
					</tr>
					<tr>
						<td><label>Date Requested</label> </td>
						<td>{{refInfo.date | date : 'mediumDate'}} ( <span style="color: darkRed" am-time-ago="refInfo.date"></span> )</td>
					</tr>
				</tbody>
			</table>
			
			<div style="position: relative;min-height: 20px">
		    	<hr>
				<!--<p style="padding:10px 0"><i class="fa fa-warning text-danger"></i>  If <strong>any</strong> investigation(s) services above is <b>not</b> available in your center please <b>uncheck it ( if checked )</b> and <a href="" style="color: blue;font-size:16px;text-decoration: unset;" ng-click="redirectTest()"> refer to another center.</a></p>-->
				
				<div class="pl-2 pt-1" ng-show="refInfo.redirect_to.length > 0">
					<label>Forwarded Test Details:</label>
					<div>
						<div ng-repeat="j in refInfo.redirect_to" class="pb-1">
							<span style="font-style: italic;" class="text-muted"><span ng-repeat="k in j.referredTests"> {{k.name}} </span></span><br>
						    <span><b>Center Name:</b> {{j.name}}</span><br>
						    <span><b>Ref No:</b> {{j.ref_id}}</span><br>
						    <span><b>Location:</b> {{j.address}} {{j.city}} {{j.country}}</span><br>
						    <span><b>Phone:</b> {{j.phone}}</span>
						</div>
					</div>
				</div><br>
				<a href="" class="btn btn-neutral btn-sm" style="position: absolute;right: 10px;bottom: 0" title="Refer test(s) to a center" ng-click="forwardUnRanTest(refInfo)"><i class="fa fa-share" ng-show="!loading"></i><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:white;font-size: 20px" ng-show="loading"></i></a>
			</div>
		</div>
	</div>

		<div class="row" ng-if="!reportSuccess">
			<div class="col-sm-12 col-md-12 col-lg-12" ng-if="hasSent">

				<div id="accordion">
                <!--<h6 style="color: #fff;padding:5px;margin:15px 0 20px">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style="background-color:#e97147; font-size: 14px;color:#fff;border-radius:10px;padding:10px;margin-right: 20px">Bill Patient</a>
                     <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="/#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="background-color:#e97147; font-size: 14px;color:#fff;border-radius:10px;padding:10px" ng-click="result(refInfo)"ng-if="!isPreview">Enter test result</a>
                </h6>                 
                <div style="list-style:none;font-size:16px" id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven"> -->
                <div style="padding: 30px" class="card" ng-if="!isPreview">
               	    <article ng-show="(!otpMsg && !paymentStatus) || !refInfo.laboratory.is_paid">
                	<div class="mb-0 mt-0 pl-0 font-1_2"  style="border-bottom: 4px solid #85CE36;display: inline-block;padding-bottom: 5px"><b>Compute Cost</b></div>
                	 <p class="danger-mine" ng-if="compute && compute !== '' ">{{compute}}</p>                            
                     <table class="table table-responsive">
                    
                     	<tr>
                     		<thead>
                     			<th>Test name</th>
                     			<th>Cost</th>
                     		</thead>
                     	</tr>
                     	<tr>
                     		<tbody ng-repeat = "j in testsForSurchage">
                     			<td style="width: 55%;padding:10px;color:#000">{{j.name}}</td>
                     			<td style="width: 45%"><input type="number" ng-model="j.amount" style="padding:10px"></td>
                     		</tbody>
                     	</tr>
                     </table>
                     <div>
                     	<strong class="text-success">Total: <em>{{str}}</em></strong>
                     	<strong style="display: block;" class="text-success">You'll receive: {{commissionedAmount}} &nbsp;<span style="font-weight: normal;">( Platform {{checkLogIn.city_grade}}% discount applied )</span>
                     	</strong><br>
                     	<label ng-show="grabRawAmount > 0">Who pays the bill?</label><br>
                     	<button class="btn btn-success"  ng-click="sendBill(refInfo.laboratory.patient_id,resend)" ng-show="grabRawAmount > 0"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-show="loading"></i> Patient's E-Wallet </button> &nbsp;&nbsp;&nbsp;<button class="btn btn-success" ng-show="grabRawAmount > 0" ng-click="centerVerifyPay(refInfo)"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-show="refInfo.loading"></i>{{(refInfo.loading) ? "" : "Center's E-Wallet" }}</button>
                     </div>
                    </article>	
                    <article ng-if="otpMsg" >
                     	<div  class="p-2 col-md-12" class="text-center text-success font-1">
                     		<p class="bg-warning p-1 text-danger" ng-if="otpError">{{otpError}}</p>
							<p class="text-muted">{{otpMsg}} </p>
							<p>
					            Cannot receive SMS?  <a href="" ng-click="sendBill(refInfo.laboratory.patient_id,resend)">Re-send OTP via SMS</a> <b> or </b> try Phone call to get the OTP code<br>
					            <a href="" ng-click="call(refInfo.laboratory.patient_id,resend)" class="text-danger"><i class="fa fa-phone"></i> Call now!</a>
					        </p> 	
					        <p style="font-size: 14px" ng-if="showCallingMsg">{{showCallingMsg}}</p>		
							<div>
								<input type="text" class="form-control" placeholder="Enter OTP sent to this patient" ng-model="lab.otp" ng-if="grabRawAmount > 0">
							</div>
							<div style="padding-left: 5px;text-align: center;">
								<button class="btn btn-success" ng-click="verifyPay(refInfo)"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i>  Confirm</button>
							</div>
							<p class="text-success">Amount: {{str}}</p>
							<p ng-if="grabRawAmount <= 0"><span class="text-danger">Patient not billed for this service(s)</span>
							</p>	
							
										
						</div>
						
                     </article>

                     <article ng-show="refInfo.laboratory.is_paid && paymentStatus">
                     	<div class="p-2">
                     		<a href="" ng-click="newPayment()" style="float: right;color:green">Request new payment</a>
                     		<div class="clearfix"></div>
                     		<i class="fa fa-check-circle" style="font-size: 42px;color: #85CE36;float: left;"></i>
                     		<aside style="padding: 20px;display: inline-block;margin-top: -20px">
	                     		<strong style="">Payment for the test(s) was successful!</strong>
	                     		<span style="display: block;"><b>Amount Paid:</b> {{paymentDetail.amount}}</span> 
	                     		<span ><b>Date:</b> {{paymentDetail.date | date: "mediumDate"}} ( <span am-time-ago="paymentDetail.date"></span> ) </span>
	                     		<span style="display: block;"><b>Time:</b> {{paymentDetail.date | date: "shortTime"}}</span>
                     		</aside>
                     	</div>
                     </article>
                     <div>&nbsp;</div>
                </div>


               
               	<!--<p style="text-align:center; text-decoration: underline" ng-if="hasPreviewed"><button ng-click="result(refInfo)">Enter test result</button></p>-->
				
				<!-- for accordion <div ng-if="isResult" id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">-->
				<div  ng-if="isResult && refInfo.laboratory.is_paid || paymentStatus" class="card p-2">
					<!--<div style=""  ng-if="!isPreview">
						<div class="mb-0 mt-0 pl-0 font-1_2"  style="display: inline-block;padding-bottom: 5px"><b>Specimen Collected</b></div>
						<ul style="list-style: none;">
							<li ng-repeat="item in specimen" style="display: inline-block;padding: 20px;float: left">
								

								<label class="custom-control custom-checkbox">
				    				<input type="checkbox" ng-model="item.status"  class="custom-control-input">
				    				<span class="custom-control-indicator"></span>
				    				<span class="custom-control-description">{{item.name}}</span>
		    					</label>
							</li>
						</ul>
					</div>-->

				
					
					<p style="text-align:right; text-decoration: underline" ng-if="isRefresh"><button ng-click="refresh()" class="fa fa-refresh"> Refresh</button></p>
					
					<div class="clearfix"></div>
					<div ng-if="!isPreview">
					<!--<div class="mb-0 mt-0 pl-0 pt-2 font-1_2"  style="display: inline-block;padding-bottom: 5px">
						<b>Report Entry:</b><br>
						<span>Please enter result 'Name' below if applicable. For example, Full Blood Count test can have a result name for haemoglobin, MCHC etc.</span>
					</div>-->

					<!--<form>
						<div class="row">
						<p class="danger-mine pl-1" ng-if=" incomplete && incomplete !== ''">{{incomplete}}</p>
						<div class="form-group">
							<label class="font-1_1 pt-1 text-danger"></label>-->
						

							<div ng-repeat="report in testReport" class="pb-2">
								<h6 class="pt-1 pb-1">
								<!--<span>{{report.sn}}) </span>--> {{report.name}} result entry:</h6>									
								<div class="col-md-5 pl-0">									
									<select class="form-control" ng-model="pickedForm.form">
										<option value="" selected disabled>_Select report format</option>
										<option value="{{'0-0-' + report.name}}">Renal Function</option>
										<option value="{{'0-1-' + report.name}}">Lipid Profile</option>
										<option value="{{'0-2-' + report.name}}">Liver Function Test</option>
										<option value="{{'0-3-' + report.name}}">Blood Sugar</option>
										<option value="{{'0-4-' + report.name}}">Haematology Result</option>
										<option value="{{'1-5-' + report.name}}">Widal Test Antigen </option>
										<option value="{{'2-6-' + report.name}}">HIV Screening Test</option>
										<option value="{{'2-7-' + report.name}}">Urinalysis </option>
										<option value="{{'2-8-' + report.name}}">Faeces</option>
										<option value="{{'2-9-' + report.name}}">Semen Analysis</option>
										<option value="{{'2-10-' + report.name}}">HVS Microscopy</option>
										<option value="{{'2-11-' + report.name}}">Hbs/HCV/VDRL</option>
										<option value="{{'2-12-' + report.name}}">Pregnancy Test</option>
										<option value="{{'0-13-' + report.name}}">Female Hormonal Essay</option>
										<option value="{{'0-14-' + report.name}}">Male Hormonal Essay</option>
										<option value="{{'0-15-' + report.name}}">PSA Report</option>
										<option value="{{'3-16-' + report.name}}">Other</option>
									</select>
								</div>
								<div class="clearfix"></div>
								<br>
								<div ng-show="report.isRange">
									<table class="table-responsive">
										<thead>
											<tr>
												<th>&nbsp;</th>
												<th>Result</th>
												<th>Range</th>
												<th>Unit</th>
												<th>Flag</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="i in report.list">
												<td><label><input type="text"  ng-model="i.r_name" ng-class="{'text-danger': i.r_flag !== 'Normal' && i.r_flag !== '' }" placeholder="edit title"></label></td>
												<td><input type="text"  ng-model="i.r_result" ng-class="{'text-danger': i.r_flag !== 'Normal' && i.r_flag !== '' }"></td>
												<td><input type="text"  ng-model="i.r_range" ng-class="{'text-danger': i.r_flag !== 'Normal' && i.r_flag !== '' }"></td>
												<td><input type="text"  ng-model="i.r_unit" ng-class="{'text-danger': i.r_flag !== 'Normal' && i.r_flag !== '' }"></td>
												<td><input type="text"  ng-model="i.r_flag" ng-class="{'text-danger': i.r_flag !== 'Normal' && i.r_flag !== '' }"></td>
											</tr>		
										</tbody>
									</table>
									<section style="text-align: right;" class="p-0">
										<i class="fa fa-plus btn btn-neutral text-muted" ng-click="addReport(report)"></i>&nbsp;
										<i class="fa fa-minus btn btn-neutral text-muted" ng-show="report.list.length > 1" ng-click="removeReport(report)"></i>
									</section>
								</div>
								<div ng-show="report.isAntigen">
									<table>
										<thead>
											<tr>
												<th>&nbsp;</th>
												<th>O. (Antigen)</th>											
												<th>H. (Antigen)</th>
											</tr>
										</thead>
										<tbody ng-repeat="i in report.list">
											<tr ng-if="i.r_result_O">
												<td><label><input type="text"  ng-model="i.r_name"></label></td>
												<td><input type="text"  ng-model="i.r_result_O"></td>
												<td><input type="text"  ng-model="i.r_result_H"></td>
												<!--<td contenteditable="true">{{i.r_unit}}</td>
												<td contenteditable="true">{{i.r_flag}}</td>-->
											</tr>
											<tr ng-if="i.r_name == 'Brucella Abortus'">
												<td>
													<labeL>{{i.r_name}}: </labeL><br>
													<textarea ng-model="i.r_result" style="width: 250px"></textarea>
												</td>
												<!--<td contenteditable="true">{{i.r_result}}</td>-->
											</tr>
											<tr ng-if="i.r_name == 'Comment'">
												<td>
													<labeL>{{i.r_name}}: </labeL><br>
													<textarea ng-model="i.r_result" style="width: 250px"></textarea>
												</td>
											</tr>		
											<tr ng-if="i.r_name == 'Significant Titre'">
												<td>
													<labeL>{{i.r_name}}: </labeL><br>
													<textarea ng-model="i.r_result" style="width: 250px" placeholder="eg. >= 80"></textarea>
												</td>
											</tr>												
										</tbody>
									</table>
								</div>
								<div ng-show="report.isQualitative">
									<form ng-repeat="i in report.list" class="row p-1">
										<div class="col-md-2">
											<label contenteditable="true">{{i.r_name || "edit title"}} : </label>
										</div>
										<div class="col-md-8">
											<textarea ng-model="i.r_result"></textarea>
											<span contenteditable="true">{{i.r_unit}}</span>
										</div>
									</form>
									<section style="text-align: right;" class="p-0">
										<i class="fa fa-plus btn btn-neutral text-muted" ng-click="addReport(report)"></i>&nbsp;
										<i class="fa fa-minus btn btn-neutral text-muted" ng-show="report.list.length > 1" ng-click="removeReport(report)"></i>
									</section>
								</div>
								<div ng-show="report.isOther">
									<table class="table-responsive">
										<thead>
											<tr>
												<th>Name</th>
												<th>Result</th>
												<th>Range</th>
												<th>Unit</th>
												<th>Flag</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="i in report.list">
												<td><label><input type="text"  ng-model="i.r_name" placeholder="edit title"></label></td>
												<td><input type="text"  ng-model="i.r_result"></td>
												<td><input type="text"  ng-model="i.r_range"></td>
												<td><input type="text"  ng-model="i.r_unit"></td>
												<td><input type="text"  ng-model="i.r_flag"></td>
											</tr>											
										</tbody>
									</table>
									<section style="text-align: right;" class="p-0">
										<i class="fa fa-plus btn btn-neutral text-muted" ng-click="addReport(report)"></i>&nbsp;
										<i class="fa fa-minus btn btn-neutral text-muted" ng-show="report.list.length > 1" ng-click="removeReport(report)"></i>
									</section>
								</div>
								<!--<table>
									<thead>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</thead>
									<caption style="caption-side: top;" class="text-danger"><span class="text-muted">{{report.sn}})</span> {{report.name}}:</caption>
									<tbody ng-repeat="i in report.list">
										<td><input type="text" name="" placeholder="Enter name" ng-model="i.r_name" class="form-control"></td>
										<td><input type="text" name="" placeholder="Enter TUM" ng-model="i.r_tum" class="form-control"></td>
										<td><input type="text" name="" placeholder="Enter result" ng-model="i.r_result" class="form-control"></td>
										<td><input type="text" name="range" placeholder="Enter range" ng-model="i.r_range" class="form-control"></td>
										<td><input type="text" name="unit" placeholder="Enter units" ng-model="i.r_unit" class="form-control"></td>
										<td><input type="text" name="flag" placeholder="Enter flag" ng-model="i.r_flag" class="form-control"></td>
									</tbody>
								</table>-->
								<!--<section class="pl-1">
									<h6 class="text-danger"><span>{{report.sn}}) </span> {{report.name}} report entry:</h6><br>
									<section ng-repeat="i in report.list" class="p-1">
										<div class="row">
											<div class="col-md-2">
												<label>Name (optional):</label>
											</div>
											<div class="col-md-8">
												<input type="text" name="" placeholder="e.g haemoglobin" ng-model="i.r_name" class="form-control">
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<label>TUM:</label>
											</div>
											<div class="col-md-8">
												<input type="text" name="" placeholder="Enter TUM" ng-model="i.r_tum" class="form-control">
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<label>Result:</label>
											</div>
											<div class="col-md-8">
												<input type="text" name="" placeholder="Enter result" ng-model="i.r_result" class="form-control">
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<label>Range:</label>
											</div>
											<div class="col-md-8">
												<input type="text" name="range" placeholder="Enter range" ng-model="i.r_range" class="form-control">
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<label>Unit:</label>
											</div>
											<div class="col-md-8">
												<input type="text" name="unit" placeholder="Enter units" ng-model="i.r_unit" class="form-control">
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<label>Flag:</label>
											</div>
											<div class="col-md-8">
												<input type="text" name="flag" placeholder="Enter flag" ng-model="i.r_flag" class="form-control">
											</div>
										</div>
										<hr>
									</section>
								</section>
								<section style="text-align: right;" class="p-0">
									<i class="fa fa-plus btn btn-neutral text-muted" ng-click="addReport(report)"></i>&nbsp;
									<i class="fa fa-minus btn btn-neutral text-muted" ng-show="report.list.length > 1" ng-click="removeReport(report)"></i>
								</section>
							</div>					
						</div>-->
						<!--<section class="p-1">
							<label class="text-danger">CONCLUSION:</label>
							<textarea  class="form-control pl-1" placeholder="Write..." required ng-model="lab.conclusion"  ng-keyup="autoExpand($event)" id="textarea"></textarea>
						</section>-->
						
						<!--</div>							
							
					</form>	-->	


					</div>
					<div >
						<h6 class="pt-1 pb-1">
							Digitally signed by: &nbsp;&nbsp;&nbsp;&nbsp;<a href="" style="font-size: 12px;font-weight: normal;text-transform: capitalize;color: blue" ng-click="openSigneeForm()" class="btn btn-simple btn-sm btn-round">add</a>
						</h6>
						<div >							
							<label class="custom-control custom-radio" ng-repeat = " i in signees">
								<input type="radio" value="{{i.id}}" ng-model="pathology.signee" class="custom-control-input">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description font-1_1"> <b>{{i.name }}</b> &nbsp;&nbsp;<a href class="fa fa-trash" ng-click="deleteSignee(i)" style="font-weight: normal;"></a> &nbsp;&nbsp;&nbsp;&nbsp;</span>
							</label>
							<!--<label class="custom-control custom-radio">
								<input type="radio" value="studyID" ng-model="pathology.signee" class="custom-control-input">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description font-1_1"> <b>Study UID</b></span>
							</label>-->
						</div>
						<hr>
						<form style="border: 2px solid grey;padding: 5px" ng-submit="createSignees()" ng-show="isToFillSignee" class="col-md-6">
							<h6>Pathologist/Lab Scientist &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-times" ng-click="openSigneeForm()"></i></h6>

							<label>Prefix</label><br>
							<select class="form-control" ng-model="pathology.prefix">
								<option>Mr</option>
								<option>Mrs</option>
								<option>Dr</option>
								<option>Prof</option>
							</select><br>

							<label>Full Name:</label><br>
							<input type="text" name="" class="form-control" ng-model="pathology.name"><br>

							<label>Designation:</label><br>
							<select class="form-control" ng-model="pathology.designation">
								<option>Medical Laboratory Scientist</option>
								<option>Consultant Pathologist</option>
							</select><br>

							<label>Suffix</label><br>
							<input type="text" name="" placeholder="e.g BSc,MSc,MBBS" class="form-control" ng-model="pathology.suffix"><br>

							<div style="text-align: right;">
								<input type="submit" name="" value="add" class="btn btn-info btn-sm" ng-show="!pathology.loading"><span ng-show="pathology.loading">Adding... wait.</span>
							</div>
						</form>

					</div>	

					<div class="clearfix"></div>
					<!--<div ng-if="isFilled === true && !isPreview" style="margin-top:30px">
                 	   <button class="btn btn-success" ng-click="previewTestResult(refInfo)" onclick="openIframe()" id="prvBtn">Preview</button>
                 	</div>-->
                 	<div ng-if="isFilled === true && !isPreview" style="margin-top:30px">
                 	   <button class="btn btn-success" ng-click="previewTestResult(refInfo)" ng-show="!loading">Preview</button>
                 	   <span ng-show="loading" class="text-muted">Submitting... Please wait!</span>
                 	   &nbsp;&nbsp;
                 	   <button class="btn btn-simple btn-sm" ng-show="reportSuccess2" ng-click="openIframe()" id="prvBtn"><i class="fa fa-refresh"></i></button>
                 	</div>	
				</div>
            </div>


				
				<div ng-if="isPreview">
					<div class="card pb-2">
					<div ng-if="!otpMsg" style="padding: 10px">
						
						<div class="row p-2" id="print-section">
							<div class="col-sm-12 col-md-8 col-lg-8 pl-0">
								<img src="{{checkLogIn.profile_pic_url}}" style="width:82px;height:82px; float:left">
								<div style="display: inline-block;width: 300px;padding-left: 10px">
									<span style="font-size:16px;font-weight: bolder">{{checkLogIn.name}}</span>
									<span style="display: block;">{{checkLogIn.address}} {{checkLogIn.city}} {{checkLogIn.country}}</span>
									<span style="display: block;">{{checkLogIn.email}}</span>
									<span style="display: block;">{{checkLogIn.phone}}</span>									
								</div>									
							</div>
							<aside class="col-sm-12 col-md-4 col-lg-4 pl-0" style="">	
								<div id="patientInfo">
									<b>Name:</b> {{refInfo.laboratory.patient_firstname}} {{refInfo.laboratory.patient_lastname}}<br>
									<b>Age:</b> {{refInfo.laboratory.patient_age}} <br>
									<b>Gender:</b> {{refInfo.laboratory.patient_gender}}<br>
									<b>Date: </b>{{reportDate | date: "mediumDate"}}<br>
									<b>Ref NO:</b> {{refInfo.ref_id}} <br>
								</div>
							</aside>
							<div class="clearfix"></div>		
							<hr class="bg-simple">
							<h6>Clinical Summary</h6>
							<p style="padding:10px 20px">{{refInfo.laboratory.clinical_summary}}</p>
							<h6>Indication</h6>
							<p style="padding:10px 20px">{{refInfo.laboratory.indication}}</p>
							<hr class="bg-simple">
							<h6>Investigation:</h6>
							<ul>
								<li ng-repeat = "test in refInfo.laboratory.test_to_run"">{{test.name}}</li>
							</ul>
							<hr class="bg-warning">
							<h6>Specimen collected:</h6>
							<ul>
								<li ng-repeat="sample in specimen" ng-if="sample.status == true">{{sample.name}}</li>
							</ul>
							<hr class="bg-warning">
							<h6 class="pb-1">Findings: </h6>
							
							<div class="text-success pl-1 font-1_1 m-0 pt-1" ng-repeat="picked in preTest">
								<b class="text-danger">{{picked.name}}: </b> <br>
								<!--<span style="display: block;padding: 20px;">{{picked.data}}</span>-->
								<table class="table">
									<thead>
										<th>Name</th>
										<th>TUM</th>
										<th>Result</th>
										<th>Range</th>
										<th>Unit</th>
										<th>Flag</th>
									</thead>
									<caption style="caption-side: top;" class="text-danger"><span class="text-muted"></span></caption>
									<tbody ng-repeat="j in picked.list">
										<td>{{j.r_name || 'none'}}</td>
										<td>{{j.r_tum || 'none'}}</td>
										<td>{{j.r_result || 'none'}}</td>
										<td>{{j.r_range || 'none'}}</td>
										<td>{{j.r_unit || 'none'}}</td>
										<td>{{j.r_flag || 'none'}}</td>
									</tbody>
								</table>
							</div>
							<div class="text-success pl-1 font-1_1 pt-1"><b class="text-danger">Conclusion: </b> <span style="display: block;padding: 20px;">{{lab.conclusion}}</span></div>
							<hr class="bg-warning">
							<div class="pt-1 pl-1 pb-0" style="text-transform:uppercase;" id="noFooter"><b>Total cost of service(s): </b> {{paymentDetail.amount || str}}</div>
						<div class="pl-1 pb-1">

                       
                        </div>
						<button class="btn btn-simple text-danger ml-1" ng-click="edit()"> Edit </button>
						<i class="btn btn-warning mr-1 ml-1 fa fa-print" ng-print  print-element-id="print-section"></i>
						<button class="btn btn-primary" ng-click="sendTestResult(refInfo)"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="loading"></i>{{(loading) ? "" : 'Ok,send' }}</button>
					</div>
					 <hr class="bg-warning">
							
					<p class="pl-2">{{message}}</p>	
				</div>
				</div>
			</div>
		</div>
		<div class = "row" ng-if="isToForward">
			<div class="card p-2">
				<div class="col-sm-12 col-md-12">					
					<div class="p-0">
					<!--<button  ng-click="customGetLab()" style="cursor:pointer" class="btn btn-simple">Modify search criteria</button> &nbsp;&nbsp;&nbsp;-->
					 <a href="" ng-click="cancel()" class="btn btn-btn-neutral">Back</a>
					</div>

					<div class="p-0 pt-1 pb-1">
						<label>Search result for: <span ng-repeat="test in unRanTest" style="display:inline-block;font-weight: 100;font-style: italic;">{{test.name}},&nbsp; </span> 
                        </label>
                       
                    </div>                        
					<!--<h5  style="padding;4px; font-size:1em; color:#555; font-weight:300; ">Test <b>Not</b> ran by your center</h5>
					<span ng-repeat="test in unRanTest" style="color:blue;color:rgba(255,100,19,0.9)">{{test.name}}</span>-->
					<form style="margin-top: 20px;" >   <!--ng-if="isCriteria === true"-->						
						<input type="text" name="" placeholder="Enter city name" ng-model="user.city" class="form-control" style="width: 50%;display: inline-block;" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:20">

						<button class="btn btn btn-success" ng-click="find()">Find</button>
					</form>


					<hr>
					<div class="drug-search-result" style="max-width: 800px;overflow-y: auto">
						 <input type="text" class="form-control" style="width: 70%" placeholder="Filter by center name or address" ng-model="testFilter.name" ng-if="testResult.full.length > 1 || testResult.less.length > 1">

						<div  class="p-1" ng-repeat ="center in testResult.full | filter : testFilter.name" style="padding: 10px;position: relative;" ng-if="checkLogIn.user_id !== center.id">
							<small>{{getStr(center.str)}}</small>
							<span  style="display: block;font-weight: bold;font-size: 14px;color: green">{{center.name}}</span>
							<span>{{center.address}}</span>
							<span>{{center.city}}</span>
							<span>{{center.country}}</span>							
							<span style="display: block;"><i class="fa fa-phone"></i> {{center.phone}}</span>
							<button  class="btn btn-warning btn-sm" ng-click="toForwardToCenter(center)" style="position: absolute;right: 10px;bottom: 15px"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="center.loading"></i>{{(center.status) ? "sent!" : ''}}<i class="fa fa-share" title="Forward {{getStr(center.str)}} to {{center.name}}" ng-if="!center.status && !center.loading" ></i></button>  
						</div>
						<div style="width: 70%;margin: 0 auto;padding-top: 30px" ng-if="loading">
							<i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:orange;font-size: 18px" ng-if="loading"></i>
						</div>
						<div class="p-1" ng-repeat="center in testResult.less | filter : testFilter.name" style="padding: 10px;position: relative;" ng-if="checkLogIn.user_id !== center.id">

							<small>{{getStr(center.str)}}</small> 
							<span style="text-decoration:line-through">{{notStr(center.notFound)}}</span>
							<span  style="display: block;font-weight: bold;color: green">{{center.name}}</span>
							<span>{{center.address}}</span>
							<span>{{center.city}}</span>
							<span>{{center.country}}</span>
							<span style="display: block"><i class="fa fa-phone"></i> {{center.phone}}</span>
							<button  class="btn btn-warning btn-sm" ng-click="toForwardToCenter(center)" style="position: absolute;right: 10px;bottom: 15px"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color:#fff" ng-if="center.loading"></i>{{(center.status) ? "sent!" : ''}}<i class="fa fa-share" title="Forward {{getStr(center.str)}} to {{center.name}}" ng-if="!center.status && !center.loading" ></i></button>  
						</div>
						<div class="clearfix"></div>
						<div ng-if="testResult.less.length === 0 && testResult.full.length === 0">
							<p style="text-indent:20px;color: red">No result found!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>	
</div>

<div ng-if="refInfo.laboratory.test_to_run.length === 0" class="col-sm-12 col-md-9 clo-lg-9">
	<div ng-if="!reportSuccess">
		<div class="row">			
			<div class="col-sm-12 col-md-12 clo-lg-12 card">
				<h5 class="bg-info mb-1" style="padding:10px; color: #fff">HISTORY</h5>
				<textarea ng-model="refInfo.history"  class="form-control" style="height:90px; padding:7px;" placeholder="Write...">
				</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 clo-lg-12 card">
				<h5 class="bg-info mb-1" style="padding:10px; color: #fff">Test to run</h5>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right" style="padding-left: 20px;max-height: 300px;overflow-y:auto">
						<ol>
							<li ng-repeat="i in testList" style="position: relative;padding-bottom:20px" ng-if="i.name">{{i.name}} 
							<i class="fa fa-times" style="cursor: pointer;font-weight: 100; font-size: 16px;color:grey;position: absolute;right:20px;top:5px" ng-click="remove(i.sn)" ng-if="i.name"></i>						
							</li>
						</ol>

						<div style="padding-top: 30px" ng-if="testList.length > 1">
							<input type="button" value="Ok,continue" class="btn btn-primary" ng-click="testToRunFilled()">
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6" >
						<div ng-repeat="j in inputctrl">				
							<input name="states" id="states" type="text" placeholder="Choose test name" ng-model="test.name" uib-typeahead="test.name for test in tests | filter:$viewValue | limitTo:15" class="form-control" style="width: 100%;font-weight:bold">
							{{getTest(test.name)}}

							<i class="fa fa-times" style="cursor: pointer;font-weight: 100; font-size: 16px;color:grey;position: absolute;right:20px;top:5px" ng-click="remove(i.sn)" ng-if="i.name"></i>
						</div>
						<div style="padding: 20px 0">
							<button class="fa fa-plus btn-simple"  ng-click="add(test.name)">&nbsp; Add</button> 
						</div>				
					</div>
					
				</div>

				
			</div>
		</div>
		
		
	</div>
	</div>

	
</div>
<div ng-if="reportSuccess">
	<p style="text-align:center;font-size:18px;color:green;" class="card">Test report sent succesfully!</p>
</div>
<div style="height: 300px"></div>

<iframe  style="position: fixed;top: 5px;left: 5px;width: 700px;height: 650px;display: block;z-index: 999999;border: 2px solid grey"  id="iframeTag" ng-hide="hideFrame">Oops! Your browser does not support iframe. User modern browser like Chrome or Firefox or IE 10 above</iframe>
<div  id="innerDivTemp" ng-hide="hideFrame" style="position: fixed;top: 5px;left: 660px;width: 700px;height: 650px;display: block;z-index: 999999;"></div>

<script type="text/javascript">
	var iframe = document.getElementById('iframeTag')
	//var count = 0;
	//var prevBtn = document.getElementById("prvBtn");

	var tempDiv = document.getElementById('innerDivTemp');

	iframe.style.visibility = "hidden";
	tempDiv.style.visibility = "hidden";

	/*tempDiv.addEventListener('click',function(){	 
	    iframe.style.visibility = "hidden";
	    tempDiv.style.visibility = "hidden";
	  
	},false)*/

	/*function openIframe(){
		iframe.style.visibility = "visible";
	    tempDiv.style.visibility = "visible";
	}*/
</script>









