
<style type="text/css">
	.popup {
		display: inline-block;
		position: absolute;
		right: -150px;
		top: 25px;
		width: 220px;
		background-color: #fff;
		border: 1px solid grey;
		padding: 10px;
		border-radius: 8px;
		z-index: 9999
	}
</style>

<div class="card p-2 card-center-1">
	<h4>Linked Studies</h4>
	<form class="row" ng-submit="getStudy()">
		<div class="col-md-4">
			<label> From </label>
			<input type="date" name="" class="form-control" ng-model="study.from">
		</div>
		<div class="col-md-4">
			<label> To </label> 
			<input type="date" name="" class="form-control" ng-model="study.to">
		</div>

		<div class="col-md-4">
			<input type="text" name="" class="form-control" placeholder="Patient ID" ng-model="study.patientID">
		</div>

		<div class="col-md-4">
			<input type="text" name="" class="form-control" placeholder="Patient name" ng-model="study.patientName">
		</div>

		<div class="col-md-4">
			<input type="submit" name="" value="Search" class="btn btn-info btn-sm">&nbsp;
			<input type="button" name="" value="Clear" class="btn btn-simple btn-sm" ng-click="clear()">
		</div>
	</form>
	<!--<div class="col-md-4 pl-0 ml-0">
		<input type="text" name="" placeholder="filter" class="form-control">
	</div>
	<div class="clearfix"></div>-->
	<hr>
	<div>	
		<div style="text-align: right;">
			<input type="text" name="" placeholder="filter list" ng-model="filter">
		</div>	
		<table>
			<thead>
				<th>Patient Name</th>
				<th>Study ID</th>
				<th>Study Type</th>
				<th>Study Date</th>
			</thead>
			<tbody ng-repeat="study in linkedStudies | orderBy : '-study_date' | filter : filter" style="line-height: 25px">
				<td>{{study.patient_name}}</td>
				<td>{{study.patient_id}}</td>
				<td>{{study.study_name}} <b ng-show="study.pdf_report.length > 0" class="text-danger">*</b></td>
				<td style="position: relative;"><span>{{study.study_date | date: 'mediumDate'}}</span> <i class="fa fa-ellipsis-h text-muted" style="float: right;padding: 2px 1px;cursor: pointer;" title="Manage study" ng-click="popup(study)"></i>
					<div ng-class="{'popup': study.isManage == true}" ng-if="study.isManage" style="line-height: 35px">
					  <div style="position: absolute;top:4px;right: 10px" ng-click="closePop(study)"><i class="fa fa-times text-info"></i></div>
					  <a href=""  ng-click="details(study)"><i class="fa fa-file-o"></i> View Details </a><br>
					  <a href=""  ng-click="edit(study)"><i class="fa fa-pencil"></i> Edit Study </a><br>
					  <a href=""  ng-click="reAssign(study)"><i class="fa fa-link"></i> Re-assign Study</a><br>
					  <a href=""  ng-click="share(study)"><i class="fa fa-share"></i> Share Study</a><br>
					  <a href="{{'https://applinic.com/dcm?id=' + study.patient_id + '&key=' + study._id}}" target="_blank"><i class="fa fa-image"></i> DICOM Viewer</a><br>
					  <a href="{{'https://drive.google.com/viewerng/viewer?embedded=true&url=https://applinic.com' + study.pdf_report[0].pathname}}" target="_blank"><span ng-show="study.pdf_report.length > 0"><i class="fa fa-file"></i> Report PDF</span></a>															
					</div>
				</td>
			</tbody>
		</table>
		<div style="text-align: center;padding-top: 20px" ng-show="loading">
			<span class="text-warning">Loading...</span>
		</div>	
		<div style="text-align: center;padding-top: 20px" ng-show="linkedStudies.length == 0">
			<span class="text-muted">Study not found!</span>
		</div>			
	</div>
	
</div>
<div style="height: 300px"></div>

<!--<iframe ng-src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://applinic.com' + study.pdf_report[0].pathname" style="position: fixed;top: 5px;left: 5px;width: 700px;height: 650px;display: block;z-index: 999999;border: 2px solid grey"  id="iframeTag">Oops! Your browser does not support iframe. User modern browser like Chrome or Firefox or IE 10 above</iframe>
<div  id="innerDivTemp" style="position: fixed;top: 5px;left: 660px;width: 700px;height: 650px;display: block;z-index: 999999;">
	
</div>-

<script type="text/javascript">
	var iframe = document.getElementById('iframeTag')
	
	var tempDiv = document.getElementById('innerDivTemp');

	iframe.style.visibility = "hidden";
	tempDiv.style.visibility = "hidden";

	tempDiv.addEventListener('click',function(){	 
	    iframe.style.visibility = "hidden";
	    tempDiv.style.visibility = "hidden";
	  
	},false)

	function openPdfIframe(){
		iframe.style.visibility = "visible";
	    tempDiv.style.visibility = "visible";
	}
</script>-->

